<template>
<div>
  <v-row>
    <v-col>
      <v-card class="mx-auto">
        <v-card-title>After Reading Buffet Essays...</v-card-title>
        <v-card-text>
          10/07/2019 - I recently completed an initial read of 'The Essays of Warren Buffett.'
          <ul>
            Things that stick out in particular when reading:
            <li>Importance of intrinsic business value.</li>
            <li>Comparison of value to price (business value to market price), and also comparision to book value.</li>
            <li>Use of Coca-Cola as a repeated example of a good business.</li>
            <li>Warren Buffet was a student of Benjamin Graham.</li>
          </ul>
        </v-card-text>
      </v-card>
      <v-card class="mx-auto">
        <v-card-title>Valuation and Accounting: B. Intrinsic Value, Book Value, and Market Price</v-card-title>
        <v-card-text>
          <p>
            This section of the book seems particularly important and I want to get down a few quotes and
            work more in depth on some concepts and examples presented here.
          </p>
          <blockquote cite="">
            [Intrinsic value is] an all-important concept that offers the only logical approach to evaluating
            the relative attractiveness of investments and businesses. Intrinsic value can be defined simply:
            It is the discounted value of cash that can be taken out of a business during its remaining life.
          </blockquote>
          <p>
            The definition here seems vague to me and I need a further understanding of "discounted value of cash"
            to better understand what exactly it means. Prior to getting to an example that I believe will help
            me flesh out this definition, Mr. Buffet goes on to discuss "book value" in relation
            to this intrinsic value. It appears book value is often inadequate in trying to use it to
            determine intrinsic value. It can be higher or lower than intrinsic value. An example when
            book value is higher is when a company's resources are tied up in a subprofitable business
            whose assets have neither "going-concern nor liquidation values equal to their carring values." An
            example of when book value is lower is when a business controls company's who are "worth much
            than their carrying value."

          </p>
          <ul>
            Some links:
            <li><a href="https://www.investopedia.com/terms/g/going_concern_value.asp" target="_blank">going-concern-value</a></li>
          </ul>
          <p>
            Book value still can be useful to track the percentage change in intrinsic value as its
            percentage change should closely match that of intrinsic value.
          </p>
          <p>
            I need a better understanding of what book value is in order to get a better
            comprehension of the comparison's being made here.
          </p>
          <p>
            An example given by Mr. Buffet to help understand the difference between book value
            and intrinsic value is to look at the investment of a college education. He relates
            the cost of the education to its book value. He includes in this cost any earnings that
            a student foregoes due to attending school rather than working. He then goes on
            to calculate the "excess earnings figure" by estimating the earnings the graduate
            would receive over his/her lifetime and subtracting an estimate of what would have
            been earned without an education. Then that "excess" must be discounted, at
            an appropriate interest rate, back to graduation day.
          </p>
          <p>
            I believe Mr. Buffet is referencing DCF (discounted cash flow) formula here possibly?
            I will likely have to look closer at that formula and the numbers being used to get
            a better understanding of this. For now though I try to plug in some numbers for the
            college education example...
            <p>
              <ul>
                <li>Say a college education cost is $40000 for 4 years of school.</li>
                <li>Say without school a person starts a job making $9.00/hr full time (40 hrs/wk)</li>
                <li>Say this person increases pay by 3% a year until they retire at 65. (assume start working at 18)</li>
                <li>But also assume a 3% rate of inflation so that the 3% raise is really just a cost of living raise and
                  in effect the 3% increase just gives this person the same salary to have the same buying power every year</li>
                <li>Starts by making 9*40*52 = 18720/yr.</li>
                <li>In today's dollars (so no inflation) he would make $858,690 in his lifetime (65-18)*18270 = $858,690</li>
              </ul>
            </p>
            <p>
              <ul>
                <li>Now say a person out of school starts by making $23.00/hr full time (45 hrs/wk) with anything over 40 hrs/wk paying 1.5x time.</li>
                <li>Say this person increases pay by 5% a year until they retire at 65.</li>
                <li>Again assume 3% inflation rate. So this person really only gets a 2% increase in buying power
                  year after year</li>
                <li>In today's dollars he would make $3,815,329 in his lifetime. (23*52*(40+1.5*5) = 56810, so 56810 + 56810*1.02 + 56810*1.02*1.02 + 56810*1.02^3 +...+ 56810*1.02^42 = 3,815,329</li>
              </ul>
            </p>
            <p>
              Originally I was thinking the above work was a decent way of comparing the value of a college education. The second person makes close to
              $3 million dollars more (today's dollars) in his lifetime. I did dive into a bit "Discounted cash flow" and discounted value of cash.
              I think this is an alternative (better?) way of comparing these two earners. The basic idea seems to be that money in the future
              is worth less than the same amount of money now. I sort of capture this with the use of inflation in the example above but some of
              the examples I worked through (<a href="https://en.wikipedia.org/wiki/Discounted_cash_flow" target="_blank">https://en.wikipedia.org/wiki/Discounted_cash_flow</a>),
              instead use the risk free rate of return (for example you can earn an essentially risk free ~5% on a 3 year US treasury note in wiki example) and
              use the idea that you could take the money today invest it risk free and get some future value in so many years. This then is the future value
              of the present day value. This is different than what I did above and leads to different results. I think I need to take the time to better
              understand this method and business valuation in general. (Thinking of working through a resource like this
              <a href=https://www.amazon.com/Business-Valuation-Demystified-Edward-Nelling/dp/0071702741/>Business Valuation DeMystified</a>). </p> <p>
                Currently how I understand it, using a similar situation as above, I would calculate for each year how much more (in excess)
                person with a college education earns and 'discount' it back to today
                (its a discount I believe because today you get less than what you have in the future). Then I would sum these up. I start with the
                first year the college graduate earns (the cost of education I think would be the cost each year along with the missed earnings
                and maybe discount that back to today also?, I am very uncertain on the cost piece).
                <p>
                  <ul>
                    <li>
                      Say the first year out of school the graduate earns $56,810 and the worker earns $18,720 * (1.03)^3 = $20,455,85.
                      (a 3% raise each year while other person in school). Thus the excess earnings are 56810 - 20455.85 = 36354.15. But then we
                      discount this value back to today. The future value (in 4 years) is $36,354.15, but this is worth less in today's dollars.
                      Say that the risk free interest rate is 5%. So we are looking for the present value that if we invested it today would
                      give us that $36354.15 in the future. This would be 'discount present value (dpv)' * (1.05)^3 = 'future value (fv)' or
                      dpv * 1.05^3 = 36354.15 => dpv = 36354.15/1.05^3 = 31404.08. Doing this for the next year it would be dpv = (56,810 * 1.05^1 - 18720 * 1.03^4) / 1.05^4,
                      and the next year dpv = (56,810 * 1.05^2 - 18720 * 1.03^5) / 1.05^5, this would continue until retirement at say 65, and we would then add all
                      these discounted values up to see the excess earned by the college graduate over their lifetime.
                    </li>
                  </ul>
                  <p>
                    <v-row>
                      <v-col cols="6" sm="4" md="2">
                        <v-select v-model="example1Show" class="my-2" :items="example1Dropdown" label="Table show..." item-value="value"></v-select>
                      </v-col>
                      <v-col cols="6" sm="4" md="2">
                        <v-text-field v-model="collegeBase" label="College Earner Start"></v-text-field>
                      </v-col>
                      <v-col cols="6" sm="4" md="2">
                        <v-text-field v-model="base" label="No-college Earner Start"></v-text-field>
                      </v-col>
                      <v-col cols="6" sm="4" md="2">
                        <v-text-field v-model="collegeRaise" label="College Raise (%)"></v-text-field>
                      </v-col>
                      <v-col cols="6" sm="4" md="2">
                        <v-text-field v-model="baseRaise" label="No-college Raise (%)"></v-text-field>
                      </v-col>
                      <v-col cols="6" sm="4" md="2">
                        <v-text-field v-model="interest" label="Risk free interest rate (%)"></v-text-field>
                      </v-col>
                      <v-col cols="6" sm="4" md="2">
                        <v-text-field v-model="years" label="Years"></v-text-field>
                      </v-col>
                      <v-col cols="6" sm="4" md="2">
                        <v-text-field v-model="showRows" label="Show rows"></v-text-field>
                      </v-col>
                      <v-col cols="6" sm="4" md="2">
                        <v-btn @click="generateExample1Table">Generate Table</v-btn>
                      </v-col>
                      <v-col v-if="$vuetify.breakpoint.name == 'xs'" cols="6" sm="4" md="2">
                        <v-checkbox v-model="mobileTable" label="Mobile Table"></v-checkbox>
                      </v-col>
                    </v-row>
                    <v-data-table :headers="example1Headers" :items="example1Items"
                    :dense="true" :disable-pagination="true" :disable-sort="true"
                    :hide-default-footer="true" :hide-default-header="false"
                    :mobile-breakpoint="tableMobileBreakpoint" :fixed-header="true"
                      :height="300"></v-data-table>
                  </p>
                  <p>
                    Using this method the discounted excess earnings would be around 1.547 million dollars. I'm still uncertain
                    of the cost. If it were 10,000/year for 4 years and we take the missed earnings to be whatever a non-college
                    earner earned... and maybe also discount that back to today?

                  </p>
                  <p>
                    <v-row>
                      <v-col cols="6" sm="4" md="2">
                        <v-select v-model="example2Show" class="my-2" :items="example2Dropdown" label="Table show..." item-value="value"></v-select>
                      </v-col>
                      <v-col cols="6" sm="4" md="2">
                        <v-text-field v-model="costYearCollege" label="College Cost Yearly (Start)"></v-text-field>
                      </v-col>
                      <v-col cols="6" sm="4" md="2">
                        <v-text-field v-model="base2" label="No-college Earner Start"></v-text-field>
                      </v-col>
                      <v-col cols="6" sm="4" md="2">
                        <v-text-field v-model="base2Raise" label="No-college Raise (%)"></v-text-field>
                      </v-col>
                      <v-col cols="6" sm="4" md="2">
                        <v-text-field v-model="collegeIncrease" label="College Cost Increase (%)"></v-text-field>
                      </v-col>
                      <v-col cols="6" sm="4" md="2">
                        <v-text-field v-model="interest2" label="Risk free interest rate (%)"></v-text-field>
                      </v-col>
                      <v-col cols="6" sm="4" md="2">
                        <v-text-field v-model="years2" label="Years In School"></v-text-field>
                      </v-col>
                      <v-col cols="6" sm="4" md="2">
                        <v-text-field v-model="showRows2" label="Show rows"></v-text-field>
                      </v-col>
                      <v-col cols="6" sm="4" md="2">
                        <v-btn @click="generateExample2Table">Generate Table</v-btn>
                      </v-col>
                      <v-col v-if="$vuetify.breakpoint.name == 'xs'" cols="6" sm="4" md="2">
                        <v-checkbox v-model="mobileTable2" label="Mobile Table"></v-checkbox>
                      </v-col>
                    </v-row>
                    <v-data-table :headers="example2Headers" :items="example2Items"
                    :dense="true" :disable-pagination="true" :disable-sort="true"
                    :hide-default-footer="true" :hide-default-header="false"
                    :mobile-breakpoint="tableMobileBreakpoint2" :fixed-header="true"
                      :height="300"></v-data-table>
                  </p>
                  <p>
                    This method results in a discounted total loss of about 106,000 dollars. With a net excess of 1.547 million this
                    appears to make a college education (if wages and percentages in the example are to be believed) worth it.
                    I am not sure I am doing the discounted values correctly and need to further study how business valuation is
                    done, but I think the takeaway from an example like this is that the book value (in this example it is the cost of a college education)
                    is not indicative of the intrinsic value (in this case the excess earnings throughout the remaining life of an individual). I just want
                    to note that bringing the risk free interest rate down to inflation levels brings the excess earnings of my first attmempt using only inflation
                    much closer to the second attempt trying to use discounted cash values. More analysis/study is needed though to see if this is significant.
                  </p>
                </p>
            </p>
          </p>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>

</div>
</template>

<script>
export default {
  computed: {
    imageHeight() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return '220px'
        case 'sm':
          return '400px'
        case 'md':
          return '500px'
        case 'lg':
          return '500px'
        case 'xl':
          return '500px'
      }
    },
    tableMobileBreakpoint() {
      if (this.mobileTable) {
        return this.$vuetify.breakpoint.thresholds.xs
      }
      else {
        return 0
      }
    },
    tableMobileBreakpoint2() {
      if (this.mobileTable2) {
        return this.$vuetify.breakpoint.thresholds.xs
      }
      else {
        return 0
      }
    },
    example1Headers() {
      let headers = []

      let baseHeaders = [
          {
            text: 'Year After College',
            value: 'year'
          }
      ]

      let formHeaders = [
        {
          text: 'Worker (Form)',
          value: 'noCollegeForm'
        },
        {
          text: 'College Worker (Form)',
          value: 'collegeForm'
        },
        {
          text: 'Excess Earnings (Formula)',
          value: 'excessForm'
        },
        {
          text: 'Discounted Excess (Formula)',
          value: 'discountedForm'
        }
      ]

      let calcHeaders = [
        {
          text: 'Worker (Calc)',
          value: 'noCollegeCalc'
        },
        {
          text: 'College Worker (Calc)',
          value: 'collegeCalc'
        },
        {
          text: 'Excess Earnings (Calculated)',
          value: 'excessCalc'
        },
        {
          text: 'Discounted Excess (Calculated)',
          value: 'discountedCalc'
        }
      ]

      headers = headers.concat(baseHeaders)

      if (this.example1Show === 'formAndCalc') {
        headers = headers.concat(formHeaders)
        headers = headers.concat(calcHeaders)
      }
      else if (this.example1Show === 'calc') {
        headers = headers.concat(calcHeaders)
      }
      else if (this.example1Show === 'form') {
        headers = headers.concat(formHeaders)
      }

      return headers
    },
    example2Headers() {
      let headers = []

      let baseHeaders = [
          {
            text: 'Year',
            value: 'year'
          },
      ]

      let formHeaders = [
        {
          text: 'Cost College (Form)',
          value: 'costYearCollegeForm'
        },
        {
          text: 'Missed Wages (Form)',
          value: 'noCollegeForm'
        },
        {
          text: 'Total Loss (Formula)',
          value: 'lossForm'
        },
        {
          text: 'Discounted Total Loss (Formula)',
          value: 'discountedLossForm'
        }
      ]

      let calcHeaders = [
        {
          text: 'Cost College (Calc)',
          value: 'costYearCollegeCalc'
        },
        {
          text: 'Missed Wages (Calc)',
          value: 'noCollegeCalc'
        },
        {
          text: 'Total Loss (Calc)',
          value: 'lossCalc'
        },
        {
          text: 'Discounted Total Loss (Calculated)',
          value: 'discountedLossCalc'
        }
      ]

      headers = headers.concat(baseHeaders)

      if (this.example2Show === 'formAndCalc') {
        headers = headers.concat(formHeaders)
        headers = headers.concat(calcHeaders)
      }
      else if (this.example2Show === 'calc') {
        headers = headers.concat(calcHeaders)
      }
      else if (this.example2Show === 'form') {
        headers = headers.concat(formHeaders)
      }

      return headers
    },
  },
  methods: {
    generateExample1Table() {
      let year = 1
      let collegeBase = this.collegeBase
      let base = this.base
      let collegeRaise = this.collegeRaise / 100 + 1
      let baseRaise = this.baseRaise / 100 + 1
      let interest = this.interest / 100 + 1

      this.example1Items = []

      let sum = 0
      let discountSum = 0

      let showRows = parseInt(this.showRows) + 1

      for (let i = 1; i < this.years; i++) {
        let currYear = i
        let collegeEarn = collegeBase * Math.pow(collegeRaise, currYear - 1)
        let workerEarn = base * Math.pow(baseRaise, currYear + 2)
        let excess = collegeEarn - workerEarn
        let discountExcess = excess / Math.pow(interest, currYear + 2)

        let noCollegeExpString = base.toLocaleString() + " * " + baseRaise + "^" + (currYear + 2)
        let collegeExpString = collegeBase.toLocaleString() + " * " + collegeRaise + "^" + (currYear - 1)
        let excessFormExpString = collegeExpString + " - " + noCollegeExpString
        let discountedExpString = "( " + excessFormExpString + " )" + " / " + interest + "^" + (currYear + 2)

        sum += excess
        discountSum += discountExcess

        if (i == showRows) {
          this.example1Items.push({
            year: "...",
            noCollegeForm: "...",
            noCollegeCalc: "...",
            collegeForm: "...",
            collegeCalc: "...",
            excessForm: "...",
            excessCalc: "...",
            discountedForm: "...",
            discountedCalc: "...",
          })
        }

        if (i < showRows || i >= this.years - 2) {
          this.example1Items.push({
            year: currYear,
            noCollegeForm: noCollegeExpString,
            noCollegeCalc: workerEarn.toLocaleString(),
            collegeForm: collegeExpString,
            collegeCalc: collegeEarn.toLocaleString(),
            excessForm: excessFormExpString,
            excessCalc: excess.toLocaleString(),
            discountedForm: discountedExpString,
            discountedCalc: discountExcess.toLocaleString(),
          })
        }
      }

      this.example1Items.push({
        year: "Total",
        noCollegeForm: "",
        noCollegeCalc: "",
        collegeForm: "",
        collegeCalc: "",
        excessForm: "",
        excessCalc: sum.toLocaleString(),
        discountedForm: "",
        discountedCalc: discountSum.toLocaleString(),
      })
    },
    generateExample2Table() {
      let years = this.years2

      let costYearCollegeBase = this.costYearCollege
      let collegeCostIncrease = this.collegeIncrease / 100 + 1
      let base = this.base2
      let baseRaise = this.base2Raise / 100 + 1
      let interest = this.interest2 / 100 + 1

      this.example2Items = []

      let lossSum = 0
      let discountLossSum = 0

      let showRows = parseInt(this.showRows2) + 1

      for (let i = 1; i <= years; i++) {

        let currYear = i

        let costYearCollege = costYearCollegeBase * Math.pow(collegeCostIncrease, currYear - 1)
        let costYearCollegeExpString = costYearCollegeBase.toLocaleString() + " * " + collegeCostIncrease + "^" + (currYear - 1)

        let workerEarn = base * Math.pow(baseRaise, currYear - 1)
        let noCollegeExpString = base.toLocaleString() + " * " + baseRaise + "^" + (currYear - 1)

        let totalLoss = costYearCollege + workerEarn
        let totalLossExpString = costYearCollegeExpString + " + " + noCollegeExpString

        let discountLoss = (workerEarn + costYearCollege) / Math.pow(interest, currYear)
        let discountedLossExpString = "( " + totalLossExpString + " )" + " / " + interest + "^" + (currYear)

        lossSum += (workerEarn + costYearCollege)
        discountLossSum += discountLoss

        if (i == showRows) {
          this.example2Items.push({
            year: "...",
            costYearCollegeForm: "...",
            costYearCollegeCalc: "...",
            noCollegeForm: "...",
            noCollegeCalc: "...",
            lossForm: "...",
            lossCalc: "...",
            discountedLossForm: "...",
            discountedLossCalc: "...",
          })
        }

        if (i < showRows || i > (years - 2)) {
          this.example2Items.push({
            year: currYear,
            costYearCollegeForm: costYearCollegeExpString,
            costYearCollegeCalc: costYearCollege.toLocaleString(),
            noCollegeForm: noCollegeExpString,
            noCollegeCalc: workerEarn.toLocaleString(),
            lossForm: totalLossExpString,
            lossCalc: totalLoss.toLocaleString(),
            discountedLossForm: discountedLossExpString,
            discountedLossCalc: discountLoss.toLocaleString(),
          })
        }
      }

      this.example2Items.push({
        year: "Total",
        costYearCollegeForm: "",
        costYearCollegeCalc: "",
        noCollegeForm: "",
        noCollegeCalc: "",
        lossForm: "",
        lossCalc: lossSum.toLocaleString(),
        discountedLossForm: "",
        discountedLossCalc: discountLossSum.toLocaleString(),
      })
    }
  },
  data() {
    return {
      mobileTable: false,
      mobileTable2: false,
      collegeBase: 56810,
      base: 18720,
      collegeRaise: 5,
      baseRaise: 3,
      interest: 5,
      years: (65-22),
      example1Dropdown: [{
          text: 'Formula & Calculated',
          value: 'formAndCalc'
        },
        {
          text: 'Formula',
          value: 'form'
        },
        {
          text: 'Calculated',
          value: 'calc'
        }
      ],
      example2Dropdown: [{
          text: 'Formula & Calculated',
          value: 'formAndCalc'
        },
        {
          text: 'Formula',
          value: 'form'
        },
        {
          text: 'Calculated',
          value: 'calc'
        }],
      example1Show: 'calc',
      example1Items: [],
      showRows: 5,
      interest2: 5,
      base2Raise: 3,
      years2: 4,
      example2Items: [],
      showRows2: 5,
      example2Show: 'calc',
      base2: 18720,
      costYearCollege: 10000,
      collegeIncrease: 3,
    }
  }
}
</script>
<style>
blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}
</style>
