

<template>
  <a :href="url"><slot>{{ url }}
  </slot></a>
</template>

<script>
export default {
    computed: {

    },
    data() {
        return {

        }
    },
    components: {

    },
    mounted() {

    },
    methods: {

    },
    props: {
      url: { String, default: "" },
    }
}

</script>
