

<template>
  <v-row :id="id">
    <v-col>
      <v-card>
        <v-card-title>{{ title }}</v-card-title>
        <v-card-text>
          <ul>
            <li v-if="showSummary">
              Summary/Key Quotes
              <ol>
                <slot name="summaryList"></slot>
              </ol>
            </li>
            <li v-if="showThoughts">
              Personal Thoughts
              <ul>
                <slot name="thoughtsList"></slot>
              </ul>
            </li>
          </ul>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
    computed: {

    },
    data() {
        return {

        }
    },
    components: {

    },
    mounted() {

    },
    methods: {

    },
    props: {
      title: { String, default: "ArtyCard" },
      showSummary: { Boolean, default: true },
      showThoughts: { Boolean, default: true },
      id: { String }
    }
}

</script>
