

<template>
<ul>
  <li>
    Intrinsic Value - {{ title }} - {{ date }}
    <ul>
      <li v-if="lowRange && highRange">
        {{ lowRange }} - {{ highRange }}
      </li>
      <li v-if="singleValue">
        {{ singleValue }}
      </li>
      <li v-if="source">
        <ArtyLink :url="source"></ArtyLink>
      </li>

    </ul>
  </li>
</ul>
</template>

<script>
import ArtyLink from '~/components/lib/ArtyLink.vue'


export default {
  computed: {

  },
  data() {
    return {

    }
  },
  components: {
    ArtyLink
  },
  mounted() {

  },
  methods: {

  },
  props: {
    title: {
      String,
      default: "title"
    },
    date: {
      String,
      default: ""
    },
    lowRange: {
      String
    },
    highRange: {
      String
    },
    average: {
      String
    },
    source: {
      String
    },
    singleValue: {
      String
    }
  }
}
</script>
