<template>
  <component :is="level >= 6 ? 'h6' : 'h' + level">
    <template v-if="displayItemNumber">
      {{ hierarchyNumber + " " + title }}
    </template>
    <template v-else>
      {{ title }}
    </template>
  </component>
</template>

<script>
export default {
  props: {
    level: { Number, default: 1 },
    hierarchyNumber: { String },
    displayItemNumber: { Boolean },
    title: {String }
  }
}
</script>
