

<template>
  <v-row :id="id">
    <v-col>
      <v-card>
        <v-card-title v-if="title !== ''">{{ title }}</v-card-title>
        <v-card-text>
          <slot>

          </slot>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
    computed: {

    },
    data() {
        return {

        }
    },
    components: {

    },
    mounted() {

    },
    methods: {

    },
    props: {
      title: { String, default: "ArtyCard" },
      id: { String }
    }
}

</script>
