<!-- NOTE EA 1/1/2022 - Originally set disabled using the 'changeTextOutstanding' but in some
      browsers disabling the text area and re-enabling it made it lose focus. This opened up the
      risk that multiple requests to update can be outstanding at a time with no guarantee of the
      order they get applied in.
      To combat this I added a check if a request is outstanding prior to making another
      request in the 'changeText' method.
      An issue with this is that we could end up where the current text doesn't match the input
      text but no request will be made automatically to sync them. This is because we use the
      input to the textarea to trigger a request and the original attempt to trigger a request found
      there was already a request outstanding and so it doesn't send another. Thus manual user input
      would be required; either more text in the text area or triggering a sync manually.
       -->
<template>
  <v-row>
    <v-col v-if="preview">
      <v-row>
        <v-col>
          <div class="line-numbers copy-to-clipboard-button"
               ref="previewText"
               v-html="$dompurify.sanitize($marked(this.inputText))">
          </div>
        </v-col>
      </v-row>
      <v-row v-if="attachments.length > 0" no-gutters>
        <v-col>
          Attachments:
          <span v-for="(attachment, index) in attachments" :key="attachment.attachmentId">
            <a :href="'/api/attachment/query/' + attachment.attachmentId + '/' + attachment.filename" :download="attachment.filename">{{ attachment.filename }}</a>
            {{ index !== attachments.length - 1 ? '&nbsp;' : '' }}
          </span>
        </v-col>
      </v-row>
      <v-row v-if="images.length > 0" justify="center">
        <v-col xs="12" md="10" lg="8">
          <v-hover v-slot="{hover}">
            <div>
              <v-row>
                <v-col>
                  Image {{ carouselIndex + 1 }}
                </v-col>
              </v-row>
              <v-carousel :height="imageHeight" :continuous="false" delimiter-icon="mdi-checkbox-blank-circle-outline" hide-delimiter-background :show-arrows="hover" v-model="carouselIndex">
                <!--
                  NOTE EA 2022-05-14 -
                  there is a vuetify bug where if the array being iterated over is modified (added to, removed from, replaced);
                  the order of the items in the carousel can become incorrect (see links below).
                  not setting the key seems to work in my case but this is quite experimental and I will need to monitor
                  this with further usage and reexamine if I attempt to later modify how I use the carousel
                  https://github.com/vuetifyjs/vuetify/issues/12818
                  https://github.com/vuetifyjs/vuetify/issues/13862 - marked duplicate
                  https://github.com/vuetifyjs/vuetify/issues/12949 - marked duplicate
                  https://github.com/vuetifyjs/vuetify/labels/C%3A%20VItemGroup - issue seems to stem from VItemGroup
                -->
                <!-- <v-carousel-item v-for="image in images" :key="image.imageId" :eager="false"> -->
                <v-carousel-item v-for="image in images" :eager="false">
                  <img :src="'/api/image/query/' + image.imageId" alt="">
                </v-carousel-item>
              </v-carousel>
            </div>
          </v-hover>
        </v-col>
      </v-row>
    </v-col>
    <v-col v-else>
      <v-row>
        <v-col>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-on="on" v-bind="attrs" small
                     @click="addImageDialog = true">
                <v-icon>mdi-image</v-icon>
              </v-btn>
            </template>
            <span>add image</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-on="on" v-bind="attrs" small
                     @click="addAttachmentDialog = true">
                <v-icon>mdi-attachment</v-icon>
              </v-btn>
            </template>
            <span>add attachment</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-on="on" v-bind="attrs" small
                     @click="refreshCard()">
                <v-icon>mdi-refresh</v-icon>
              </v-btn>
            </template>
            <span>refresh card</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
                <span v-on="on" v-bind="attrs">
                  <v-btn :disabled="inputText === currentText" small
                         @click="changeText()">
                    <v-icon :color="lastChangeTextError ? 'error' : 'warning'">mdi-sync
                    </v-icon>
                  </v-btn>
                </span>
            </template>
            <span>sync card text</span>
          </v-tooltip>
        </v-col>

        <v-dialog v-model="addImageDialog">
          <v-card>
            <v-card-title>
              Add Image
              <v-spacer></v-spacer>
              <v-btn icon @click="addImageDialog = false" elevation="1">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-card-title>

            <v-card-text>
              <v-row>
                <v-col md=12 lg=6>
                  <v-file-input v-model="imageFile"></v-file-input>
                </v-col>
              </v-row>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn @click="addImage()">
                Add
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="addAttachmentDialog">
          <v-card>
            <v-card-title>
              Add Attachment
              <v-spacer></v-spacer>
              <v-btn icon @click="addAttachmentDialog = false" elevation="1">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-card-title>

            <v-card-text>
              <v-row>
                <v-col md=12 lg=6>
                  <v-file-input v-model="attachmentFile"></v-file-input>
                </v-col>
              </v-row>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn @click="addAttachment()">
                Add
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

      </v-row>
      <v-row>
        <v-col>
          <hack-v-textarea
              class="px-8"
              dense
              :rows="1"
              v-model="inputText"
              @input="debouncedTextInput()"
              :loading="changeTextOutstanding"
              :disabled="false"
              :error="lastChangeTextError"
              @keydown.tab.exact.prevent="tab($event)">
          </hack-v-textarea>
        </v-col>
      </v-row>
      <v-row v-if="attachments.length > 0" no-gutters>
        <v-col>
          Attachments:
          <span v-for="(attachment, index) in attachments" :key="attachment.attachmentId">
            <a :href="'/api/attachment/query/' + attachment.attachmentId + '/' + attachment.filename" :download="attachment.filename">{{ attachment.filename }}</a>
            <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn icon v-on="on" v-bind="attrs" x-small class="pa-0 ma-n1"
                             @click="$store.commit('confirmation/show',
                  {   title: 'Remove Attachment: ' + attachment.attachmentId + '?',
                              button: 'Remove',
                              message: 'Are you sure you want to remove the \'' + attachment.attachmentId + '\' attachment? ',
                              action: () => { removeAttachment(attachment.attachmentId) } })">
                        <v-icon x-small color="error">mdi-close</v-icon>
                      </v-btn>
                    </template>
                    <span>Remove Attachment</span>
            </v-tooltip>
            {{ index !== attachments.length - 1 ? '&nbsp;' : '' }}
          </span>
        </v-col>
      </v-row>
      <v-row v-if="images.length > 0" justify="center">
        <v-col xs="12" md="10" lg="8">
          <v-hover v-slot="{hover}">
            <div>
              <v-row justify="end">
                <v-col>
                  Image {{ carouselIndex + 1 }}
                </v-col>
                <v-col cols="2" sm="1">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn icon v-on="on" v-bind="attrs" small
                             @click="$store.commit('confirmation/show',
                  {   title: 'Remove Image: ' + images[carouselIndex].imageId + '?',
                              button: 'Remove',
                              message: 'Are you sure you want to remove the \'' + images[carouselIndex].imageId + '\' image? ',
                              action: () => { removeImage(images[carouselIndex].imageId) } })">
                        <v-icon color="error">mdi-delete-forever</v-icon>
                      </v-btn>
                    </template>
                    <span>Remove Image</span>
                  </v-tooltip>
                </v-col>
              </v-row>
              <v-carousel :height="imageHeight" :continuous="false" delimiter-icon="mdi-checkbox-blank-circle-outline" hide-delimiter-background :show-arrows="hover" v-model="carouselIndex">
                <!--
                  NOTE EA 2022-05-14 -
                  there is a vuetify bug where if the array being iterated over is modified (added to, removed from, replaced);
                  the order of the items in the carousel can become incorrect (see links below).
                  not setting the key seems to work in my case but this is quite experimental and I will need to monitor
                  this with further usage and reexamine if I attempt to later modify how I use the carousel
                  https://github.com/vuetifyjs/vuetify/issues/12818
                  https://github.com/vuetifyjs/vuetify/issues/13862 - marked duplicate
                  https://github.com/vuetifyjs/vuetify/issues/12949 - marked duplicate
                  https://github.com/vuetifyjs/vuetify/labels/C%3A%20VItemGroup - issue seems to stem from VItemGroup
                -->
                <!-- <v-carousel-item v-for="image in images" :key="image.imageId" :eager="false"> -->
                <v-carousel-item v-for="image in images" :eager="false">
                  <img :src="'/api/image/query/' + image.imageId" alt="">
                </v-carousel-item>
              </v-carousel>
            </div>
          </v-hover>
        </v-col>
      </v-row>

    </v-col>
  </v-row>
</template>

<script>
import _debounce from "lodash.debounce";
import HackVTextarea from "@/components/dynamic/draft/HackVTextarea";

const DEBOUNCE_WAIT = 3000

export default {
  name: "Card",
  components: {HackVTextarea},
  props: {
    preview: Boolean,
    workingCardId: String,
    outlineItemTitle: String,
    initialCard: Object
  },
  data() {
    return {
      inputText: "",
      currentText: "",
      images: [],
      attachments: [],
      changeTextOutstanding: false,
      lastChangeTextError: false,
      addImageDialog: false,
      addAttachmentDialog: false,
      imageFile: null,
      attachmentFile: null,
      refreshCardOutstanding: false,
      carouselIndex: 0,

      debouncedTextInput: _debounce(() => {
        this.changeText()
      }, DEBOUNCE_WAIT),
    }
  },
  computed: {
    imageHeight() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return '300px'
        case 'sm':
          return '400px'
        case 'md':
          return '500px'
        case 'lg':
          return '500px'
        case 'xl':
          return '500px'
      }
    }
  },
  watch: {
    inputText(current, previous) {
      if (this.preview) {
        this.$nextTick(() => {
          this.$prismjs.highlightAllUnder(this.$refs["previewText"])
        })
      }
    },
    preview(current, previous) {
      if (current) {
        this.$nextTick(() => {
          this.$prismjs.highlightAllUnder(this.$refs["previewText"])
        })
      }
    },
    images(current, previous) {
      let currentCarouselIndex = this.carouselIndex;
      this.$nextTick(() => {
        if (currentCarouselIndex < current.length) {
          this.carouselIndex = currentCarouselIndex;
        }
        else {
          this.carouselIndex = Math.max(currentCarouselIndex - 1, 0);
        }
      })
    },
  },
  mounted() {
    this.inputText = this.initialCard.text
    this.currentText = this.initialCard.text
    this.images = this.initialCard.images
    this.attachments = this.initialCard.attachments
  },
  methods: {
    tab(event) {
      let text = this.inputText
      let originalSelectionStart = event.target.selectionStart
      let textStart = text.slice(0, originalSelectionStart)
      let textEnd = text.slice(originalSelectionStart)

      this.inputText = `${textStart}\t${textEnd}`
      event.target.value = this.inputText  // required to make the cursor stay in place.
      event.target.selectionEnd = originalSelectionStart + 1
      event.target.selectionStart = originalSelectionStart + 1
      this.debouncedTextInput()
    },
    async removeImage(imageId) {
      let removeImageCommand = {
        workingCardId: this.workingCardId,
        imageId: imageId
      }

      this.$store.commit('loading/on')
      await this.$workingCardCommandApi.removeImage(removeImageCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', {message: "image removed from card"})
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
          })
          .finally(() => {
            this.$store.commit('confirmation/hide')
            this.$store.commit('loading/off')
            this.refreshCard()
          })
    },
    async addImage() {
      if (this.imageFile !== null) {
        this.$store.commit('loading/on')
        await this.$imageCommandApi.create(this.imageFile, this.workingCardId)
            .then(() => {
              this.$store.commit('alerts/enqueueSuccessToast', {message: "image added"})
            })
            .catch(error => {
              this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
            })
            .finally(() => {
              this.addImageDialog = false;
              this.imageFile = null;
              this.$store.commit('loading/off')
            })
      }
    },
    async removeAttachment(attachmentId) {
      let removeAttachmentCommand = {
        workingCardId: this.workingCardId,
        attachmentId: attachmentId
      }

      this.$store.commit('loading/on')
      await this.$workingCardCommandApi.removeAttachment(removeAttachmentCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', {message: "attachment removed from card"})
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
          })
          .finally(() => {
            this.$store.commit('confirmation/hide')
            this.$store.commit('loading/off')
            this.refreshCard()
          })
    },
    async addAttachment() {
      if (this.attachmentFile !== null) {
        this.$store.commit('loading/on')
        await this.$attachmentCommandApi.create(this.attachmentFile, this.workingCardId)
            .then(() => {
              this.$store.commit('alerts/enqueueSuccessToast', {message: "attachment added"})
            })
            .catch(error => {
              this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
            })
            .finally(() => {
              this.addAttachmentDialog = false;
              this.attachmentFile = null;
              this.$store.commit('loading/off')
            })
      }
    },
    async refreshCard() {
      if (!this.changeTextOutstanding && !this.refreshCardOutstanding) {
        this.refreshCardOutstanding = true
        await this.$workingCardQueryApi.draft(this.workingCardId).then(response => {
          this.inputText = response.text
          this.currentText = response.text
          this.images = response.images
          this.attachments = response.attachments;
        }).catch(error => {
          this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
        }).finally(() => {
          this.refreshCardOutstanding = false
        })
      }
    },
    async changeText() {
      this.lastChangeTextError = false

      if (this.inputText !== this.currentText && !this.changeTextOutstanding && !this.refreshCardOutstanding) {
        let changeTextCommand = {
          workingCardId: this.workingCardId,
          text: this.inputText
        }

        this.changeTextOutstanding = true
        await this.$workingCardCommandApi.changeText(changeTextCommand)
            .then(() => {
              this.currentText = changeTextCommand.text
              this.$store.commit('alerts/enqueueSuccessToast', {message: "card text changed: " + this.outlineItemTitle})
            })
            .catch(error => {
              this.lastChangeTextError = true
              this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
            })
            .finally(() => {
              this.changeTextOutstanding = false
            })
      }
    },
  }
}
</script>

<style scoped>

</style>