<!-- HackVTextarea.vue -->
<!-- NOTE EA 1/1/2022 - Known issue with v-textarea auto-grow: https://github.com/vuetifyjs/vuetify/issues/6995 -->
<!-- NOTE EA 1/3/2022 - Another known issue with v-textarea involving auto-grow: https://github.com/vuetifyjs/vuetify/issues/5314;
      with this removing auto-grow entirely and instead computing the rows using the newline character -->
<!-- NOTE EA 4/10/2022 - Tested the auto-grow again and was not able to recreate the spacebar bug from here: https://github.com/vuetifyjs/vuetify/issues/5314
      Deciding to add back this property with a hack/solution for the initial bug (https://github.com/vuetifyjs/vuetify/issues/6995) where it doesn't resize on a window resize.
      I used Agendum's solution and fiddle: https://jsfiddle.net/CodeVirtue/t0ex7pzu/ -->
<!-- NOTE EA 4/27/2022 - Decided to create this custom component to try and address these couple of issues when I found that the auto-grow issue
      was cropping up still when editing a textarea near the bottom of the screen.
      more here: https://earty.info/struct/software-development/projects/earty-info/textarea-woes -->
<template>
  <div>
    <v-textarea
        ref="vTextarea"

        v-bind="$attrs"
        v-bind:value="value"
        v-on="$listeners"

        class="v-textarea--auto-grow"

        no-resize
        v-resize="resize">
    </v-textarea>
    <v-textarea
        ref="shadowVTextarea"

        v-bind="$attrs"
        v-bind:value="value"

        auto-grow
        readonly

        style="overflow: hidden; height: 0; visibility: hidden;"
        aria-hidden="true">
    </v-textarea>
  </div>
</template>

<script>

export default {
  name: "HackVTextarea",
  inheritAttrs: false,
  props: ['value'],
  watch: {
    value(current, previous) {
      this.resize()
    },
  },
  mounted() {
    this.resize()
  },
  methods: {
    resize() {
      // setTimeout(() => {
      //   this.$refs.vTextarea.$refs.input.style.height =
      //       this.$refs.shadowVTextarea.$refs.input.scrollHeight + "px";
      // }, 0);
      this.$nextTick(() => {
        this.$nextTick(() => {
          this.$refs.vTextarea.$refs.input.style.height =
              this.$refs.shadowVTextarea.$refs.input.scrollHeight + "px";
        })
      })
    }
  }
}
</script>

<style scoped>

</style>