<template>
  <div>
    <Title @draft-discarded="draftDiscarded" @outline-preview-on="outlinePreviewOn" @outline-preview-off="outlinePreviewOff"></Title>
    <v-row v-for="outlineItem in this.outlineItems" :key="outlineItem.workingCardId" :id="outlineItem.fragment">
      <v-col>
        <OutlineItem :key="outlineItem.workingCardId" :outline-item="outlineItem" :batch-cards-loaded="cardsLoaded"
                     :batch-initial-card="cardsLoaded ? cards[outlineItem.workingCardId] : undefined" :outlinePreview="outlinePreview"></OutlineItem>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="d-flex justify-end">
        <v-btn @click="addOutlineItem">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

import Title from "@/components/dynamic/draft/Title";
import OutlineItem from "@/components/dynamic/draft/OutlineItem";

export default {
  name: "Outline",
  components: {OutlineItem, Title},
  props: {
    cards: { Object, default: undefined },
    cardsLoaded: { Boolean, default: false }
  },
  data() {
    return {
      outlinePreview: undefined
    }
  },
  computed: {
    ...mapGetters('menu', [
      'menuItemsMap',
    ]),
    ...mapGetters('page', [
      'outlineItems',
    ]),
  },
  mounted() {

  },
  methods: {
    outlinePreviewOn() {
      this.outlinePreview = true
    },
    outlinePreviewOff() {
      this.outlinePreview = false
    },
    draftDiscarded() {
      this.$emit('draft-discarded')
    },
    async addOutlineItem() {
      let addOutlineItemCommand = { workingPageId: this.menuItemsMap[this.$normPath()].pageId }

      this.$store.commit('loading/on')
      await this.$workingPageCommandApi.addOutlineItem(addOutlineItemCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', {message: "outline item added"})
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
          })
          .finally(() => {
            this.$store.commit('loading/off')
            this.$store.dispatch('page/retrieveDraft', { path: this.$normPath() })
          })
    },
  }
}
</script>

<style scoped>

</style>