<template>
  <v-card>
    <v-card-title>
      <v-row v-if="outlinePreviewOverride">
        <v-col>
          <nuxt-link v-if="currentFragment" :to="$normPath() + '#' + currentFragment">
              <OutlineItemTitle :level="outlineItem.level"
                                :hierarchy-number="outlineItem.hierarchyNumber"
                                :display-item-number="apiPage.displayItemNumbers"
                                :title="inputTitle">
              </OutlineItemTitle>
          </nuxt-link>
          <span v-else>
              <OutlineItemTitle :level="outlineItem.level"
                                :hierarchy-number="outlineItem.hierarchyNumber"
                                :display-item-number="apiPage.displayItemNumbers"
                                :title="inputTitle">
              </OutlineItemTitle>
          </span>
        </v-col>
      </v-row>
      <v-row v-else>
        <v-col cols="6">
          <v-text-field dense v-model="inputFragment" @input="debouncedFragmentInput()"
                        :disabled="changeFragmentOutstanding"
                        :loading="changeFragmentOutstanding"
                        :error="lastChangeFragmentError">
            <template v-slot:prepend>
              <v-btn v-if="inputFragment !== currentFragment" icon small block @click="changeFragment()">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon :color="lastChangeFragmentError ? 'error' : 'warning'" v-on="on" v-bind="attrs">mdi-sync</v-icon>
                  </template>
                  <span>sync</span>
                </v-tooltip>
              </v-btn>
              <v-icon v-else color="success">mdi-pound</v-icon>
            </template>
          </v-text-field>
        </v-col>
        <v-col cols="6">
          <v-text-field dense v-model="inputTitle"  @input="debouncedTitleInput()"
                        :disabled="changeTitleOutstanding"
                        :loading="changeTitleOutstanding"
                        :error="lastChangeTitleError">
            <template v-slot:prepend>
              <v-btn v-if="inputTitle !== currentTitle" icon small block @click="changeTitle()">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon :color="lastChangeTitleError ? 'error' : 'warning'" v-on="on" v-bind="attrs">mdi-sync</v-icon>
                  </template>
                  <span>sync</span>
                </v-tooltip>
              </v-btn>
              <v-icon v-else color="success">mdi-check</v-icon>
            </template>
          </v-text-field>
        </v-col>
      </v-row>
    </v-card-title>
    <v-card-text>
      <v-row>
        <v-col>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-on="on" v-bind="attrs" small
                     @click="moveUp()">
                <v-icon>mdi-arrow-up</v-icon>
              </v-btn>
            </template>
            <span>up</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-on="on" v-bind="attrs" small
                     @click="moveDown()">
                <v-icon>mdi-arrow-down</v-icon>
              </v-btn>
            </template>
            <span>down</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-on="on" v-bind="attrs" small
                     @click="showMoveDialog()">
                <v-icon>mdi-folder-swap</v-icon>
              </v-btn>
            </template>
            <span>move</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-on="on" v-bind="attrs" small
                     @click="$store.commit('confirmation/show',
                  {   title: 'Delete Card: ' + currentTitle + '?',
                              button: 'Delete',
                              message: 'Are you sure you want to delete the \'' + currentTitle + '\' outline item & card? ',
                              action: () => { deleteOutlineItem() } })">
                <v-icon color="error">mdi-delete-forever</v-icon>
              </v-btn>
            </template>
            <span>delete</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-on="on" v-bind="attrs" small
                     @click="preview = !preview">
                <v-icon v-if="preview">mdi-toggle-switch</v-icon>
                <v-icon v-else>mdi-toggle-switch-off</v-icon>
              </v-btn>
            </template>
            <span v-if="preview">preview off</span>
            <span v-else>preview on</span>
          </v-tooltip>
        </v-col>
      </v-row>

      <v-row v-if="!batchCardsLoaded">
        <v-col>
        cards loading...
        </v-col>
      </v-row>
      <v-row v-else-if="this.batchInitialCard === undefined && this.missingInitialCard === undefined && !this.missingRequestsLimitHit">
        <v-col>
        single card loading...
        </v-col>
      </v-row>
      <v-row v-else-if="this.batchInitialCard === undefined && this.missingInitialCard === undefined && this.missingRequestsLimitHit">
        <v-col>
        card may still be getting created; try refreshing or checking back again shortly
        </v-col>
      </v-row>
      <template v-else-if="this.batchInitialCard !== undefined">
        <Card :preview="preview" :key="outlineItem.workingCardId" :working-card-id="outlineItem.workingCardId" :outline-item-title="outlineItem.title" :initial-card="batchInitialCard"></Card>
      </template>
      <template v-else-if="this.missingInitialCard !== undefined">
        <Card :preview="preview" :key="outlineItem.workingCardId" :working-card-id="outlineItem.workingCardId" :outline-item-title="outlineItem.title" :initial-card="missingInitialCard"></Card>
      </template>
    </v-card-text>

    <v-dialog v-model="moveOutlineItemDialog">
      <v-card>
        <v-card-title>
          Move Outline Item
          <v-spacer></v-spacer>
          <v-btn icon @click="moveOutlineItemDialog = false" elevation="1">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>

        <v-card-text>
          <v-row>
            <v-col md=12 lg=6>
              <v-select v-model="moveOutlineItemParentOutlineItem"
                        :items="parentOutlineItemsItems"
                        label="Parent Outline Item"
              ></v-select>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="moveOutlineItem">
            Move
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-card>
</template>

<script>
import Card from "@/components/dynamic/draft/Card";
import _debounce from "lodash.debounce";
import {mapGetters, mapState} from "vuex";
import OutlineItemTitle from "@/components/lib/OutlineItemTitle.vue";
const DEBOUNCE_WAIT = 3000
const ROOT_PARENT_VALUE = "ROOT_PARENT"
const MISSING_CARD_POLLING_INTERVAL = 2000
const MISSING_CARD_ERROR_LIMIT = 5

export default {
  name: "OutlineItem",
  components: {OutlineItemTitle, Card},
  props: {
    outlineItem: { Object, optional: false },
    batchInitialCard: { Object, default: undefined },
    batchCardsLoaded: { Boolean, default: false },
    outlinePreview: { Boolean }
  },
  data() {
    return {
      workingCardId: undefined,

      inputTitle: undefined,
      currentTitle: undefined,
      changeTitleOutstanding: false,
      lastChangeTitleError: false,
      
      inputFragment: undefined,
      currentFragment: undefined,
      changeFragmentOutstanding: false,
      lastChangeFragmentError: false,

      moveOutlineItemDialog: false,
      moveOutlineItemParentOutlineItem: undefined,

      debouncedTitleInput: _debounce(() => {
        this.changeTitle()
      }, DEBOUNCE_WAIT),
      debouncedFragmentInput: _debounce(() => {
        this.changeFragment()
      }, DEBOUNCE_WAIT),

      missingCardIntervalId: undefined,
      outstandingMissingRequest: false,
      missingRequestAttempts: 0,
      missingRequestsLimitHit: false,
      missingInitialCard: undefined,

      preview: true,
      outlinePreviewOverride: undefined,
    }
  },
  computed: {
    ...mapState('page', ['apiPage']),
    ...mapGetters('menu', [
      'menuItemsMap',
    ]),
    ...mapGetters('page', [
      'parentOutlineItemsMap',
      'outlineItems',
    ]),
    parentOutlineItemsItems() {
      let rootOutlineItemItem = {
        text: "Root",
        value: ROOT_PARENT_VALUE
      }

      let parentOutlineItemsItems = [rootOutlineItemItem]

      for (let i = 0; i < this.outlineItems.length; i++) {
        let currParentText = this.apiPage.displayItemNumbers ? this.outlineItems[i].hierarchyNumber + " " + this.outlineItems[i].title :
            this.outlineItems[i].title;
        parentOutlineItemsItems.push({text: currParentText, value: this.outlineItems[i].workingCardId})
      }
      return parentOutlineItemsItems
    },
  },
  watch: {
    preview(current, previous) {
      this.outlinePreviewOverride = current
    },
    outlinePreview(current, previous) {
      this.outlinePreviewOverride = current
    },
    batchCardsLoaded(current, previous) {
      if (current && this.batchInitialCard === undefined) {
        this.missingCardIntervalId = setInterval(this.retrieveMissingCard, MISSING_CARD_POLLING_INTERVAL)
      }
    },
    outlineItem(current, previous) {
      this.workingCardId = current.workingCardId
      this.inputTitle = this.inputTitle === this.currentTitle ? current.title : this.inputTitle
      this.currentTitle = current.title
      this.inputFragment = this.inputFragment === this.currentFragment ? current.fragment : this.inputFragment
      this.currentFragment = current.fragment
    }
  },
  mounted() {
    this.workingCardId = this.outlineItem.workingCardId
    this.inputTitle = this.outlineItem.title
    this.currentTitle = this.outlineItem.title
    this.inputFragment = this.outlineItem.fragment
    this.currentFragment = this.outlineItem.fragment

    if (this.batchCardsLoaded && this.batchInitialCard === undefined) {
      this.missingCardIntervalId = setInterval(this.retrieveMissingCard, MISSING_CARD_POLLING_INTERVAL)
    }

    this.outlinePreviewOverride = this.outlinePreview
  },
  beforeDestroy() {
    if (this.missingCardIntervalId) {
      clearInterval(this.missingCardIntervalId)
    }
  },
  methods: {
    async retrieveMissingCard() {
      if (!this.outstandingMissingRequest && !this.missingRequestsLimitHit) {
        this.outstandingMissingRequest = true

        await this.$workingCardQueryApi.draft(this.workingCardId).then(response => {
          this.missingInitialCard = { text: response.text, images: response.images, attachments: response.attachments }
          clearInterval(this.missingCardIntervalId)
          this.missingCardIntervalId = undefined
        }).catch(() => {
          this.missingRequestAttempts += 1
          if (this.missingRequestAttempts === MISSING_CARD_ERROR_LIMIT) {
            this.missingRequestsLimitHit = true
            clearInterval(this.missingCardIntervalId)
            this.missingCardIntervalId = undefined
            this.$store.commit('alerts/enqueueErrorToast',
                { message: "unable to load card (" + this.outlineItem.title + ") content after " + MISSING_CARD_ERROR_LIMIT + " tries" }, {root: true})
          }
        }).finally(() => {
          this.outstandingMissingRequest = false
        })
      }
    },
    async changeTitle() {
      this.lastChangeTitleError = false

      if (this.inputTitle !== this.currentTitle) {

        let changeOutlineItemTitleCommand = {
          workingPageId: this.menuItemsMap[this.$normPath()].pageId,
          workingCardId: this.workingCardId,
          title: this.inputTitle
        }

        this.changeTitleOutstanding = true

        await this.$workingPageCommandApi.changeOutlineItemTitle(changeOutlineItemTitleCommand)
            .then(() => {
              this.$store.commit('alerts/enqueueSuccessToast', {message: "outline item title changed: " + changeOutlineItemTitleCommand.title})
              this.$store.dispatch('page/retrieveDraft', {path: this.$normPath()})
            })
            .catch(error => {
              this.lastChangeTitleError = true
              this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
            })
            .finally(() => {
              this.changeTitleOutstanding = false
            })
      }
    },
    async moveUp() {
      let moveOutlineItemUpCommand = {
        workingPageId: this.menuItemsMap[this.$normPath()].pageId,
        workingCardId: this.workingCardId,
        parentWorkingCardId: this.parentOutlineItemsMap[this.workingCardId]
      }

      await this.$workingPageCommandApi.moveOutlineSubItemUp(moveOutlineItemUpCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', {message: "outline item moved up"})
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
          })
          .finally(() => {
            this.$store.dispatch('page/retrieveDraft', { path: this.$normPath() })
          })
    },
    async moveDown() {
      let moveOutlineItemDownCommand = {
        workingPageId: this.menuItemsMap[this.$normPath()].pageId,
        workingCardId: this.workingCardId,
        parentWorkingCardId: this.parentOutlineItemsMap[this.workingCardId]
      }

      await this.$workingPageCommandApi.moveOutlineSubItemDown(moveOutlineItemDownCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', {message: "outline item moved down"})
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
          })
          .finally(() => {
            this.$store.dispatch('page/retrieveDraft', { path: this.$normPath() })
          })
    },
    async deleteOutlineItem() {
      let removeOutlineItemCommand = {
        workingPageId: this.menuItemsMap[this.$normPath()].pageId,
        workingCardId: this.workingCardId
      }

      this.$store.commit('loading/on')
      await this.$workingPageCommandApi.removeOutlineItem(removeOutlineItemCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', {message: "outline item removed"})
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
          })
          .finally(() => {
            this.$store.commit('confirmation/hide')
            this.$store.commit('loading/off')
            this.$store.dispatch('page/retrieveDraft', { path: this.$normPath() })
          })
    },
    async moveOutlineItem() {
      let moveOutlineItemCommand = {
        workingPageId: this.menuItemsMap[this.$normPath()].pageId,
        workingCardId: this.workingCardId,
        moveToRoot: this.moveOutlineItemParentOutlineItem === ROOT_PARENT_VALUE,
        parentWorkingCardId: this.moveOutlineItemParentOutlineItem !== ROOT_PARENT_VALUE ?
            this.moveOutlineItemParentOutlineItem : undefined
      }

      this.$store.commit('loading/on')
      await this.$workingPageCommandApi.moveOutlineItem(moveOutlineItemCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', {message: "outline item moved"})
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
          })
          .finally(() => {
            this.moveOutlineItemDialog = false
            this.$store.commit('loading/off')
            this.$store.dispatch('page/retrieveDraft', { path: this.$normPath() })
          })
    },
    async changeFragment() {
      this.lastChangeFragmentError = false

      if (this.inputFragment !== this.currentFragment) {
        let changeOutlineItemFragmentCommand = {
          workingPageId: this.menuItemsMap[this.$normPath()].pageId,
          workingCardId: this.workingCardId,
          fragment: this.inputFragment
        }

        this.changeFragmentOutstanding = true

        await this.$workingPageCommandApi.changeOutlineItemFragment(changeOutlineItemFragmentCommand)
            .then(() => {
              this.$store.commit('alerts/enqueueSuccessToast', {message: "outline item fragment changed: " + changeOutlineItemFragmentCommand.fragment})
              this.$store.dispatch('page/retrieveDraft', { path: this.$normPath() })
            })
            .catch(error => {
              this.lastChangeFragmentError = true
              this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
            })
            .finally(() => {
              this.changeFragmentOutstanding = false
            })
      }
    },
    showMoveDialog() {
      this.moveOutlineItemDialog = true
    },
  }
}
</script>

<style scoped>

</style>