<template>
  <div>
    <v-row v-if="!this.pageLoaded && Object.keys(this.outstandingRequests).length > 0">
      <v-col>
        <v-card>
          <v-card-title>
            <v-row>
              <v-col>Page Loading...</v-col>
            </v-row>
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-else-if="!this.pageLoaded && Object.keys(this.outstandingRequests).length === 0">
      <v-col>
        <v-card>
          <v-card-title>
            <v-row>
              <v-col>Page Not Found</v-col>
            </v-row>
          </v-card-title>
          <v-card-text>
            Page may still be getting created; try refreshing or checking back again shortly
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <div v-else-if="pageLoaded">
      <Outline @draft-discarded="draftDiscarded" :cards-loaded="cardsLoaded" :cards="cards"></Outline>
    </div>
  </div>
</template>

<script>

import {mapGetters, mapState} from "vuex";
import Outline from "@/components/dynamic/draft/Outline";

export default {
  name: "Page",
  components: {Outline},
  data() {
    return {
      cardsLoaded: false,
      cards: undefined
    }
  },
  computed: {
    ...mapState('page', [
      'outstandingRequests'
    ]),
    ...mapGetters('menu', [
      'menuItemsMap',
    ]),
    ...mapGetters('page', [
      'pageLoaded'
    ]),
  },
  watch: {
    cardsLoaded(current, previous) {
      if (current && this.pageLoaded) {
        this.$nextTick(() => {
          this.scrollToHash()
        })
      }
    },
    pageLoaded(current, previous) {
      if (current && this.cardsLoaded) {
        this.$nextTick(() => {
          this.scrollToHash()
        })
      }
    }
  },
  mounted() {
    this.$store.dispatch('page/retrieveDraft', { path: this.$normPath() })
    this.retrieveDraftCards()
  },
  methods: {
    scrollToHash() {
      if (this.$route.hash && this.$route.hash !== "") {
        let element = document.getElementById(
            this.$route.hash.substring(1))
        if (element) {
          element.scrollIntoView()
        }
      }
    },
    draftDiscarded() {
      this.cardsLoaded = false
      this.cards = undefined
      this.$store.commit('page/clear')
      this.$store.dispatch('page/retrieveDraft', { path: this.$normPath() })
      this.retrieveDraftCards()
      this.$store.commit('alertDialog/show', {title: "Draft Discarded",
        message: "It may take a moment to revert to the published version of each card. If the card content hasn't reverted; try refreshing shortly."})
    },
    async retrieveDraftCards() {
      await this.$workingCardQueryApi.draftCards(this.menuItemsMap[this.$normPath()].pageId)
          .then((response) => {
            let temp = {}
            response.forEach(apiCard => { temp[apiCard.workingCardId] = { text: apiCard.text, images: apiCard.images, attachments: apiCard.attachments } })
            this.cardsLoaded = true
            this.cards = temp
          }).catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)}, {root: true})
          })
    },
  }
}
</script>

<style scoped>

</style>