<template>
  <v-row>
    <v-col>
      <v-card>
        <v-card-title>
          <v-row v-if="outlinePreview">
            <v-col>
              <nuxt-link :to="$normPath()">
                <h1>{{ inputTitle }}</h1>
              </nuxt-link>
            </v-col>
          </v-row>
          <v-row v-else>
            <v-col cols="1">
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <span v-on="on" v-bind="attrs">
                    <v-checkbox dense v-model="inputDisplayItemNumbers" @click="toggleDisplayItemNumbers"
                                :disabled="toggleDisplayItemNumbersOutstanding"
                                :error="lastToggleDisplayItemNumbersError">
                    </v-checkbox>
                  </span>
                </template>
                <span>display item numbers</span>
              </v-tooltip>
            </v-col>
            <v-col cols="11">
              <v-text-field dense v-model="inputTitle" @input="debouncedTitleInput"
                            :disabled="changeTitleOutstanding"
                            :loading="changeTitleOutstanding"
                            :error="lastChangeTitleError">
                <template v-slot:prepend>
                  <v-btn v-if="inputTitle !== currentTitle" icon small block @click="changeTitle()">
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on, attrs }">
                        <v-icon :color="lastChangeTitleError ? 'error' : 'warning'" v-on="on" v-bind="attrs">mdi-sync
                        </v-icon>
                      </template>
                      <span>sync</span>
                    </v-tooltip>
                  </v-btn>
                  <v-icon v-else color="success">mdi-check</v-icon>
                </template>
              </v-text-field>
            </v-col>
          </v-row>
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn v-on="on" v-bind="attrs" small @click="movePageUp">
                    <v-icon>mdi-arrow-up</v-icon>
                  </v-btn>
                </template>
                <span>up</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn v-on="on" v-bind="attrs" small @click="movePageDown">
                    <v-icon>mdi-arrow-down</v-icon>
                  </v-btn>
                </template>
                <span>down</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn v-on="on" v-bind="attrs" small @click.stop="changePageDialog = true">
                    <v-icon>mdi-folder-edit</v-icon>
                  </v-btn>
                </template>
                <span>change</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn v-on="on" v-bind="attrs" small @click.stop="movePageDialog = true">
                    <v-icon>mdi-folder-swap</v-icon>
                  </v-btn>
                </template>
                <span>move</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn v-on="on" v-bind="attrs" small @click.stop="$store.commit('confirmation/show',
                  {   title: 'Publish Page: ' + menuItemsMap[$normPath()].name + '?',
                              button: 'Publish',
                              message: 'Are you sure you want to publish the \'' + menuItemsMap[$normPath()].name + '\' page? ',
                              action: publishPage })">

                    <v-icon color="info">mdi-publish</v-icon>
                  </v-btn>
                </template>
                <span>publish</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn v-on="on" v-bind="attrs" small @click.stop="$store.commit('confirmation/show',
                  {   title: 'Discard Draft: ' + menuItemsMap[$normPath()].name + '?',
                              button: 'Discard',
                              message: 'Are you sure you want to discard the \'' + menuItemsMap[$normPath()].name + '\' draft? ',
                              action: discardDraft })">
                    <v-icon color="error">mdi-file-undo</v-icon>
                  </v-btn>
                </template>
                <span>discard</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn v-on="on" v-bind="attrs" small @click.stop="$store.commit('confirmation/show',
                  {   title: 'Delete Page: ' + menuItemsMap[$normPath()].name + '?',
                              button: 'Delete',
                              message: 'Are you sure you want to delete the \'' + menuItemsMap[$normPath()].name + '\' page? ' +
                               'This will delete both the draft and published pages along with any outline items / cards on the page.',
                              action: deletePage })">
                    <v-icon color="error">mdi-delete-forever</v-icon>
                  </v-btn>
                </template>
                <span>delete</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn v-on="on" v-bind="attrs" small
                         @click="outlinePreview = !outlinePreview">
                    <v-icon v-if="outlinePreview">mdi-toggle-switch</v-icon>
                    <v-icon v-else>mdi-toggle-switch-off</v-icon>
                  </v-btn>
                </template>
                <span v-if="outlinePreview">outline preview off</span>
                <span v-else>outline preview on</span>
              </v-tooltip>
            </v-col>
          </v-row>

        <v-dialog v-model="changePageDialog">
            <v-card>
              <v-card-title>
                Change Page
                <v-spacer></v-spacer>
                <v-btn icon @click="changePageDialog = false" elevation="1">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
              </v-card-title>
              <v-card-text>
                <v-row>
                  <v-col cols=12 xs=12 lg=6>
                    <v-text-field v-model=changePagePathSegment label="Path Segment"></v-text-field>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click="changePage">
                  Change
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        <v-dialog v-model="movePageDialog">
            <v-card>
              <v-card-title>
                Move Page
                <v-spacer></v-spacer>
                <v-btn icon @click="movePageDialog = false" elevation="1">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
              </v-card-title>

              <v-card-text>
                <v-row>
                  <v-col md=12 lg=6>
                    <v-select v-model="movePageParentDirectory"
                              :items="parentDirectoryItems"
                              label="Parent Directory"
                    ></v-select>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click="movePage">
                  Move
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import {mapGetters, mapState} from "vuex";
import _debounce from "lodash.debounce";

const DEBOUNCE_WAIT = 3000

export default {
  name: "Title",
  data() {
    return {
      changePageDialog: false,
      changePagePathSegment: "",

      currentTitle: "",
      inputTitle: "",

      movePageDialog: false,
      movePageParentDirectory: undefined,

      changeTitleOutstanding: false,
      lastChangeTitleError: false,
      debouncedTitleInput: _debounce(() => {
        this.changeTitle()
      }, DEBOUNCE_WAIT),

      currentDisplayItemNumbers: false,
      inputDisplayItemNumbers: false,
      toggleDisplayItemNumbersOutstanding: false,
      lastToggleDisplayItemNumbersError: false,

      outlinePreview: true,
    }
  },
  computed: {
    ...mapState('page', [
      'apiPage',
    ]),
    ...mapState('menu', [
      'apiMenu',
    ]),
    ...mapGetters('menu', [
      'menuItemsMap',
      'pageParentMap',
      'dynamicMenuItemMap'
    ]),
    parentDirectoryItems() {
      let parentDirectoryItems = []

      for (let [key, value] of Object.entries(this.dynamicMenuItemMap)) {
        if (value.isDirectory) {
          parentDirectoryItems.push({text: key, value: value.directoryId})
        }
      }
      return parentDirectoryItems
    },
    menuItemString() {
      return this.menuItemsMap[this.$normPath()].name + " (" + this.menuItemsMap[this.$normPath()].id + ")"
    },
  },
  watch: {
    apiPage() {
      this.currentTitle = this.apiPage.title
      this.currentDisplayItemNumbers = this.apiPage.displayItemNumbers
    },
    outlinePreview(current, previous) {
      if (current) {
        this.$emit('outline-preview-on')
      }
      else {
        this.$emit('outline-preview-off')
      }
    }
  },
  mounted() {
    this.currentTitle = this.apiPage.title
    this.inputTitle = this.apiPage.title

    this.currentDisplayItemNumbers = this.apiPage.displayItemNumbers
    this.inputDisplayItemNumbers = this.apiPage.displayItemNumbers

    this.changePagePathSegment = this.menuItemsMap[this.$normPath()].pathSegment
    this.$emit('outline-preview-on')
  },
  methods: {
    async toggleDisplayItemNumbers() {
      this.lastToggleDisplayItemNumbersError = false

      if (this.inputDisplayItemNumbers !== this.currentDisplayItemNumbers) {

        let menuItem = this.menuItemsMap[this.$normPath()]
        let aCommand = {
          workingPageId: menuItem.pageId
        }

        this.toggleDisplayItemNumbersOutstanding = true
        await this.$workingPageCommandApi.toggleDisplayItemNumbers(aCommand)
            .then(() => {
              this.$store.dispatch('page/retrieveDraft', {path: this.$normPath()})
              this.$store.commit('alerts/enqueueSuccessToast', {message: "display item numbers toggled: " + this.menuItemString})
            })
            .catch(error => {
              this.lastToggleDisplayItemNumbersError = true
              this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
            })
            .finally(() => {
              this.toggleDisplayItemNumbersOutstanding = false
            })
      }
    },
    async changeTitle() {
      this.lastChangeTitleError = false

      if (this.inputTitle !== this.currentTitle) {

        let menuItem = this.menuItemsMap[this.$normPath()]
        let changeTitleCommand = {
          workingPageId: menuItem.pageId,
          title: this.inputTitle
        }

        this.changeTitleOutstanding = true
        await this.$workingPageCommandApi.changeTitle(changeTitleCommand)
            .then(() => {
              this.$store.dispatch('page/retrieveDraft', {path: this.$normPath()})
              this.$store.commit('alerts/enqueueSuccessToast', {message: "title changed: " + this.menuItemString})
            })
            .catch(error => {
              this.lastChangeTitleError = true
              this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
            })
            .finally(() => {
              this.changeTitleOutstanding = false
            })
      }
    },
    async movePageUp() {
      let menuItem = this.menuItemsMap[this.$normPath()]
      let movePageUpCommand = {
        siteMenuId: 'earty-info',
        workingPageId: menuItem.pageId,
        parentDirectoryId: this.pageParentMap[menuItem.pageId]
      }

      this.$store.commit('loading/on')
      await this.$siteMenuCommandApi.movePageUp(movePageUpCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', {message: "page moved up: " + this.menuItemString})
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
          })
          .finally(() => {
            this.$store.commit('loading/off')
            this.$store.dispatch('menu/refreshApiDynamicMenu')
          })
    },
    async movePageDown() {
      let menuItem = this.menuItemsMap[this.$normPath()]
      let movePageDownCommand = {
        siteMenuId: 'earty-info',
        workingPageId: menuItem.pageId,
        parentDirectoryId: this.pageParentMap[menuItem.pageId]
      }

      this.$store.commit('loading/on')
      await this.$siteMenuCommandApi.movePageDown(movePageDownCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', {message: "page moved down: " + this.menuItemString})
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
          })
          .finally(() => {
            this.$store.commit('loading/off')
            this.$store.dispatch('menu/refreshApiDynamicMenu')
          })
    },
    async movePage() {
      let movePageCommand = {
        siteMenuId: 'earty-info',
        workingPageId: this.menuItemsMap[this.$normPath()].pageId,
        parentDirectoryId: this.movePageParentDirectory
      }

      this.$store.commit('loading/on')
      await this.$siteMenuCommandApi.movePage(movePageCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', {message: "page moved: " + this.menuItemString})
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
          })
          .finally(() => {
            this.movePageDialog = false
            this.$store.commit('loading/off')
            this.$store.dispatch('menu/refreshApiDynamicMenu')
          })
    },
    async changePage() {
      let menuItem = this.menuItemsMap[this.$normPath()]
      let changePagePathSegmentCommand = {
        siteMenuId: 'earty-info',
        workingPageId: menuItem.pageId,
        pathSegment: this.changePagePathSegment
      }

      this.$store.commit('loading/on')
      await this.$siteMenuCommandApi.changePagePathSegment(changePagePathSegmentCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', {message: "page path segment changed: " + menuItem.name})
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
          })
          .finally(() => {
            this.changePageDialog = false
            this.$store.commit('loading/off')
            this.$store.dispatch('menu/refreshApiDynamicMenu')
          })
    },
    async deletePage() {
      let deletePageCommand = {
        siteMenuId: "earty-info",
        workingPageId: this.menuItemsMap[this.$normPath()].pageId
      }
      this.$store.commit('loading/on')
      await this.$siteMenuCommandApi.removePage(deletePageCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', {message: this.menuItemString + " deleted"})
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
          })
          .finally(() => {
            this.$store.commit('confirmation/hide')
            this.$store.commit('loading/off')
            this.$store.dispatch('menu/refreshApiDynamicMenu')
          })
    },
    async publishPage() {
      let publishPageCommand = {
        workingPageId: this.menuItemsMap[this.$normPath()].pageId
      }

      this.$store.commit('loading/on')
      await this.$workingPageCommandApi.publish(publishPageCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', {message: this.menuItemString + " published"})
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
          })
          .finally(() => {
            this.$store.commit('confirmation/hide')
            this.$store.commit('loading/off')
            this.$store.dispatch('menu/refreshApiDynamicMenu')
          })
    },
    async discardDraft() {
      let discardDraftCommand = {
        workingPageId: this.menuItemsMap[this.$normPath()].pageId
      }

      this.$store.commit('loading/on')
      await this.$workingPageCommandApi.discardDraft(discardDraftCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', {message: this.menuItemString + " draft discarded"})
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
          })
          .finally(() => {
            this.$store.commit('confirmation/hide')
            this.$store.commit('loading/off')
            this.$emit('draft-discarded')
          })
    }
  }
}
</script>

<style scoped>

</style>