<template>
<div>
  <RowCard title ="Planned Plan Review - 06/15/2021 (Tentative)">
    <v-row>
      <v-col>
        <ul>
          <li>
            Early Notes (Prior to Review Date):
            <ul>
              <li>
                11/22/2020 - Realized today as I am finishing my first full review of an individual company and am looking back over the 'Personal Plan' I didn't account for reducing risk as I get older. When investing with a 401k the plan will manage moving assets into safter investment vehicles as a person gets closer and closer to retirement. I will want to consider what I will do as I get closer and closer to retirement as I shouldn't have all my money in stocks. I am thinking it should be a good chunk in high grade bonds (government, maybe corporate).
              </li>
            </ul>
          </li>
        </ul>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        The initial planned plan review was set for 04/15/2021
      </v-col>
    </v-row>
    <v-row>
        <v-col>
          As of 04/30/2021 - I just finished up the 03/02/2021 initial evaluation. I did take time to update Alphabet's value calculation but otherwise really do a full reevaluation of Alphabet as would be expected of a reevaluation. The planned re-evaluation was for 03/15/2021. I need to consider this during the plan review to better allocate time to each evaluation, re-evaluation, and plan review.
        </v-col>
    </v-row>
  </RowCard>

</div>
</template>
<script>

import RowCard from '@/components/lib/RowCard.vue'
import ArtyLink from '@/components/lib/ArtyLink.vue'

export default {
  computed: {},
  data() {
    return {
    }
  },
  mounted() {

  },
  methods: {

  },
  components: {
    RowCard,
    ArtyLink
  }
}
</script>
