<template>
  <div>
    <DynamicDirectory v-if="this.directorySelected"></DynamicDirectory>
    <DynamicPage v-else-if="this.pageSelected"></DynamicPage>
    <v-row v-else-if="this.dynamicMenuLoaded">
      <v-col>
        <v-card>
          <v-card-title>
            <v-row>
              <v-col>Page Not Found</v-col>
            </v-row>
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col>
        <v-card>
          <v-card-title>
            <v-row>
              <v-col>Loading...</v-col>
            </v-row>
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import RowCard from "@/components/lib/RowCard";
import ArtyLink from "@/components/lib/ArtyLink";
import { mapState } from 'vuex'
import { mapGetters } from 'vuex'
import DynamicDirectory from "@/components/dynamic/DynamicDirectory";
import DynamicPage from "@/components/dynamic/DynamicPage";

export default {
  data() {
    return {

    }
  },
  mounted() {

  },
  methods: {

  },
  components: {
    DynamicDirectory,
    DynamicPage,
    RowCard,
    ArtyLink
  },
  computed: {
    ...mapGetters('menu', [
      "dynamicMenuLoaded",
      'menuItemsMap'
    ]),
    directorySelected() {
      return this.menuItemsMap[this.$normPath()] && this.menuItemsMap[this.$normPath()].isDirectory
    },
    pageSelected() {
      return this.menuItemsMap[this.$normPath()] && this.menuItemsMap[this.$normPath()].isPage
    }
  },
}
</script>