<template>
<div>
  <RowCard title ="Reevaluations">

  </RowCard>

</div>
</template>
<script>

import RowCard from '@/components/lib/RowCard.vue'
import ArtyLink from '@/components/lib/ArtyLink.vue'

export default {
  computed: {},
  data() {
    return {
    }
  },
  mounted() {

  },
  methods: {

  },
  components: {
    RowCard,
    ArtyLink
  }
}
</script>
