<template>
<div>
  <v-row>
    <v-col>
      <v-card class="mx-auto">
        <v-card-title>Business Thoughts</v-card-title>
        <v-card-text>
          Some general (unfleshed out) thoughts on topics (loosly) related to business.
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</div>
</template>

<script>
export default {
    data() {
      return {

      }
    },
    components: {

    }
}
</script>
<style>
blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}
</style>
