<template>
<div>
  <RowCard title ="Planned Re-evaluation - TBD">
    <v-row>
      <v-col>
        The initial planned re-evaluation was set for 03/15/2021
      </v-col>
    </v-row>
      <v-row>
        <v-col>
          As of 04/30/2021 - I just finished up the 03/02/2021 initial evaluation. I did take time to update Alphabet's value calculation but otherwise really do a full reevaluation of Alphabet as would be expected of a reevaluation.
        </v-col>
      </v-row>
  </RowCard>

</div>
</template>
<script>

import RowCard from '@/components/lib/RowCard.vue'
import ArtyLink from '@/components/lib/ArtyLink.vue'

export default {
  computed: {},
  data() {
    return {
    }
  },
  mounted() {

  },
  methods: {

  },
  components: {
    RowCard,
    ArtyLink
  }
}
</script>
