<template>
<div>
  <RowCard title ="Business - Resources - Personal">
    Included under these pages are resources I had a direct hand in piecing together; although they will likely borrow significantly from other sources which should be noted for any particular resource.
  </RowCard>
</div>
</template>
<script>

import RowCard from '@/components/lib/RowCard.vue'
import ArtyLink from '@/components/lib/ArtyLink.vue'

export default {
  computed: {},
  data() {
    return {
    }
  },
  mounted() {

  },
  methods: {

  },
  components: {
    RowCard,
    ArtyLink
  }
}
</script>
