<template>
<div>
  <RowCard title="Initial Evaluation - 08/16/2020">
  </RowCard>
  <RowCard title="Overview">

    <ul>
      <li>
        Start: 8/16/2020
      </li>
    </ul>
    <ul>
      <li>
        Sectors interested in and industries in those sectors (GICS)
      </li>
      <ul>
        <li>
          Information Technology
        </li>
        <li>
          Healthcare
        </li>
        <li>
          Communication Services
        </li>
        <li>
          Consumer Discretionary
        </li>
      </ul>
    </ul>
    <ul>
      <li>
        Products/Services/Ideas in general interested in.
        <ul>
          <li>
            Virtual reality technology / Augmented reality technology
          </li>
          <li>
            Cannabis both recreational and for healthcare
          </li>
          <li>
            Plant based meat
          </li>
          <li>
            Electric cars
          </li>
          <li>
            Space Exploration / Space in general
          </li>
          <li>
            Climate change ready
          </li>
          <li>
            Jet packs, hover board
          </li>
          <li>
            Workplace efficiency
          </li>
        </ul>
      </li>
    </ul>
    <ul>
      <li>
        Specific companies interested in
        <ul>
          <li>
            Alphabet/Google - Communication Services / Interactive Media & Services
          </li>
          <li>
            Apple - Information Technology / Technology Hardware, Storage & Peripherals
          </li>
          <li>
            Amazon - Consumer Discretionary / Internet & Direct Marketing Retail
          </li>
          <li>
            Canopy Growth Corp (Canadian Company) - Health Care / Pharmaceuticals
          </li>
          <li>
            Microsoft - Information Technology / Software
          </li>
          <li>
            Tesla - Consumer Discretionary / Automobiles
          </li>
          <li>
            Space X - Private, Google may own a stake, Similar company is Virgin Galactic - Industrials / Aerospace & Defense
          </li>
          <li>
            Beyond Meat - Consumer Staples / Food Products
          </li>
          <li>
            Oracle - (?) Information Technology / Software
          </li>
          <li>
            Facebook - (?) Communication Services/ Interactive Media & Services
          </li>
          <li>
            Verisign - (?) Information Technology / IT Services, owned by Buffet, holds 2 of 13 root name servers
          </li>
          <li>
            Charter Communications - (?) Communication Services / Media, owned by Buffet
          </li>
          <li>
            Cisco - Information Technology / Communications Equipment
          </li>
        </ul>
      </li>
    </ul>
  </RowCard>

  <RowCard title="Products/Services/Ideas in general interested in">
    <ul>
      <li>
        Virtual Reality
        <ul>
          <li>
            Facebook - Oculus Rift & Rift S, Oculus Go and Quest
          </li>
          <li>
            Alphabet - Cardboard, Daydream, sounds though it is switching over to a more software focus Tilt Brush, YouTube VR, Google Street View
          </li>
          <li>
            Amazon - Sumerian, tools for developers?
          </li>
          <li>
            HTC - Taiwan based, HTC Vive, Vive Pro, ...
          </li>
          <li>
            Microsoft - No VR headset of its own but rather its Windows Mixed Reality Platform partner with HP which has its own headset?
          </li>
          <li>
            Valve - private company, but SteamVR and Half Life: Alyx
          </li>
        </ul>
      </li>
      <li>
        Augmented Reality
        <ul>
          <li>
            Niantic - Currently Private, not impossible it goes public.
          </li>
          <li>
            Apple
          </li>
          <li>
            Google
          </li>
          <li>
            Snapchat
          </li>
        </ul>
      </li>
      <li>
        Cannabis

        <v-row>
          <v-col v-if="$vuetify.breakpoint.name == 'xs'" cols="6" sm="4" md="2">
            <v-checkbox v-model="mobileTable" label="Mobile Table"></v-checkbox>
          </v-col>
        </v-row>
        <v-data-table dense show-expand item-key="name" :mobile-breakpoint="tableMobileBreakpoint" :headers="cannabisHeaders" :items="cannabisItems" hide-default-footer disable-pagination class="elevation-1">
          <template v-slot:item.cap="{ item }">
            {{ $formatBigNumber(item.cap) }}
          </template>
          <template v-slot:item.priceSales="{ item }">
            {{ $currencyFormat(item.priceSales) }}
          </template>
          <template v-slot:item.revenue="{ item }">
            {{ $formatBigNumber(item.revenue) }}
          </template>
          <template v-slot:item.incomeLoss="{ item }">
            {{ $formatBigNumber(item.incomeLoss) }}
          </template>
          <template v-slot:expanded-item="{ item, headers }">
            <td :colspan="headers.length">{{ item.notes }}</td>
          </template>
        </v-data-table>
      </li>
      <li>
        Plant based meat ( Market Cap / Price to Sales / Revenue / Income or Loss )
        <ul>
          <li>
            Beyond Meat - 7.81 B / $19.22 / 401 M / -5 M
          </li>
          <li>
            Impossible Foods, private with IPO likely in future
          </li>
          <li>
            Tyson, Nestle as big companies entering this market.
          </li>
        </ul>
      </li>
      <li>
        Electric cars ( Market Cap / Price to Sales / Revenue / Income or Loss )
        <ul>
          <li>
            Tesla 308 B / $12.26 / 26 B / 368 M
          </li>
          <li>
            Toyota (mostly hybrids)
          </li>
        </ul>
      </li>
      <li>
        Space Exploration / Space in general
        <ul>
          <li>
            Space X, private
          </li>
          <li>
            Blue origin
          </li>
          <li>
            Others - <ArtyLink url=https://en.wikipedia.org/wiki/List_of_private_spaceflight_companies> </ArtyLink> </li> </ul> </li> <li>
              Climate Change ready
              <ul>
                <li>
                  Plant based meat companies - Beyond Meat, Impossible Foods
                </li>
                <li>
                  Electric vehicle companies - Tesla
                </li>
                <li>
                  Space exploration companies - Space X, Blue origin
                </li>
                <li>
                  IBM
                </li>
                <li>
                  Google
                </li>
                <li>
                  Apple
                </li>
                <li>
                  Wipro EcoEnergy - partner with companies to help them reduce their carbon footprints
                </li>
              </ul>
          </li>
          <li>
            Jetpacks
            <ul>
              <li>
                JetPack Aviation
              </li>
              <li>
                Gravity Industries
              </li>
            </ul>
          </li>
          <li>
            Hoverboards
            <ul>
              <li>
                Lexus - liquid nitrogen, magnet track
              </li>
              <li>
                ZAPATA Racing - EZ Fly?
              </li>
            </ul>
          </li>
          <li>
            Workplace efficiency
            <ul>
              <li>
                Salesforce?
              </li>
            </ul>
          </li>
        </ul>
  </RowCard>

  <RowCard title="Berkshire Portfolio">
    <v-row>
        Source: <ArtyLink url="https://www.cnbc.com/berkshire-hathaway-portfolio/"></ArtyLink>
    </v-row>
    <v-row>
      <v-col v-if="$vuetify.breakpoint.name == 'xs'" cols="6" sm="4" md="2">
        <v-checkbox v-model="berkshireMobileTable" label="Mobile Table"></v-checkbox>
      </v-col>
    </v-row>
    <v-row>
      <v-data-table dense :mobile-breakpoint="berkshireMobileTableBreakpoint" :headers="berkshireHeaders" :items="berkshireItems" hide-default-footer disable-pagination class="elevation-1">
        <template v-slot:item.shares="{ item }">
          {{ item.shares }}
        </template>
        <template v-slot:item.price="{ item }">
          {{ item.price }}
        </template>
        <template v-slot:item.value="{ item }">
          {{ $currencyFormat(item.value) }}
        </template>
        <template v-slot:item.percentage="{ item }">
          {{ parseFloat(item.percentage * 100).toFixed(2) + '%' }}
        </template>
      </v-data-table>
    </v-row>
  </RowCard>
  <RowCard title="Companies to Analyze">
    <ul>
      <li>
        More serious investment consideration:
        <ul>
          <li>
            Apple
          </li>
          <li>
            Google - <ArtyLink url="/evaluations/google/08162020/AnalysisForm.odt">AnalysisForm.odt</ArtyLink>, <ArtyLink url="/evaluations/google/08162020/08162020.zip">08162020.zip</ArtyLink>
          </li>
          <li>
            Amazon
          </li>
          <li>
            Microsoft
          </li>
        </ul>
      </li>
      <li>
        To learn more/to keep tabs on for future:
        <ul>
          <li>
            Tesla
          </li>
          <li>
            Beyond Meat
          </li>
          <li>
            Aphria
          </li>
          <li>
            Trulieve Cannabis
          </li>
          <li>
            Cresco Labs
          </li>
        </ul>
      </li>
      <li>
        To learn more about due to Berkshire's interest
        <ul>
          <li>
            Bank of America Corp
          </li>
          <li>
            Coca-Cola Co
          </li>
          <li>
            American Express Company
          </li>
        </ul>
      </li>
    </ul>

  </RowCard>

</div>
</template>
<script>
import RowCard from '@/components/lib/RowCard.vue'
import ArtyLink from '@/components/lib/ArtyLink.vue'
import EvalConstants1 from '@/constants/evaluations/evaluations1'
import EvalConstants from '@/constants/evaluations/evaluations'
export default {
  computed: {
    tableMobileBreakpoint() {
      if (this.mobileTable) {
        return this.$vuetify.breakpoint.thresholds.xs
      } else {
        return 0
      }
    },
    berkshireMobileTableBreakpoint() {
      if (this.berkshireMobileTable) {
        return this.$vuetify.breakpoint.thresholds.xs
      } else {
        return 0
      }
    },
    cannabisHeaders() {
      return EvalConstants.CANNABIS_TABLE_HEADERS;
    },
    cannabisItems() {
      return EvalConstants1.CANNABIS_TABLE_ITEMS;
    },
    berkshireHeaders() {
      return EvalConstants.BERKSHIRE_TABLE_HEADERS;
    },
    berkshireItems() {
      return this.$addValuePercent(EvalConstants1.BERKSHIRE_TABLE_ITEMS);
    },
  },
  data() {
    return {
      mobileTable: false,
      berkshireMobileTable: false
    }
  },
  mounted() {

  },
  methods: {

  },
  components: {
    RowCard,
    ArtyLink
  }
}
</script>
