<template>
<div>
  <RowCard title="Investment Decisions - 2020"></RowCard>
  <RowCard title="Alphabet ~11/22/2020">
    <ul>
      <li>
        11/22/2020 - Finished up the initial evaluation of Alphabet/Google. Believe Alphabet/Google is a good company and one that I would like to invest in. To decide a good price point to purchase stock I am considering several sources for
        estimated intrinsic value per share. Note that GOOGL and GOOG are valued slightly differently. GOOGL are for Class A shares with voting rights and GOOG is for Class C shares without voting rights.
        <IntrinsicValue title="Personal Calculated" date="10/30/2020" lowRange="$1334.91" highRange="$1816.25"></IntrinsicValue>
        <IntrinsicValue title="Yahoo Finance (GOOGL)" source="https://finance.yahoo.com/quote/GOOGL" date="11/22/2020" lowRange="$1420" highRange="2250" singleValue="$1887.07 (Average)"></IntrinsicValue>
        <IntrinsicValue title="Yahoo Finance (GOOG)" source="https://finance.yahoo.com/quote/GOOG" date="11/22/2020" lowRange="$1420" highRange="2250" singleValue="$1839.17 (Average)"></IntrinsicValue>
        <IntrinsicValue title="Yahoo Finance (GOOG)" source="https://finance.yahoo.com/quote/GOOG" date="10/13/2020" lowRange="$1420" highRange="2020" singleValue="$1719.17"></IntrinsicValue>
        <IntrinsicValue title="https://simplywall.st (GOOGL)" source="https://simplywall.st/stocks/us/media/nasdaq-goog.l/alphabet#valuation" date="11/22/2020" singleValue="$1842.33"></IntrinsicValue>
        <IntrinsicValue title="https://simplywall.st (GOOG)" source="https://simplywall.st/stocks/us/media/nasdaq-goog/alphabet#valuation" date="11/22/2020" singleValue="$1848.49 (Average)"></IntrinsicValue>
        <IntrinsicValue title="https://www.macroaxis.com (GOOGL)" source="https://www.macroaxis.com/invest/valuation/GOOGL/Alphabet" date="11/22/2020" lowRange="$1676" highRange="$1910" singleValue="$1678"></IntrinsicValue>
        <IntrinsicValue title="https://www.macroaxis.com (GOOG)" source="https://www.macroaxis.com/invest/market/GOOG--Alphabet" date="11/22/2020" lowRange="$1249" highRange="$1916" singleValue="$1251.49"></IntrinsicValue>
      </li>
      <li>
        The price as of 11/22/2020 is
        <ul>
          <li>
            GOOGL @ $1736.38
          </li>
          <li>
            GOOG @ $1742.19
          </li>
        </ul>
      </li>
      <li>
        I feel Alphabet is currently trading at a fair price. It is odd that the Class A voting shares are cheaper than the non-voting Class C shares. <strike>I am planning to watch GOOGL shares for maybe a couple weeks and plan to purchase in that time frame. I am sort of incorporating an impromptu technical analysis technique to determine when to buy but I don't even think this is necessary or all that beneficial. What I am doing is watching the MACD against what they call the 'signal line' to determine when to buy. This is something I am not very knowledgeable on but just want to take a look at it as I invest in Alphabet that is currently trading at what I believe to be about fair value. I'd be looking for when the purple and orange line intersect and the purple line goes above the orange (signal line) I believe.</strike> Looking at GOOGL's chart I think I am actually just going to purchase shares and disregard this technical analysis. It does look promising but I don't see it being greatly beneficial for a long term value investor.
      </li>
    </ul>
    <a :href="macd">
      <v-img :height="imageHeight" :contain="true" :src="macd">
      </v-img>
    </a>
    <a :href="macdChart">
      <v-img :height="imageHeight" :contain="true" :src="macdChart">
      </v-img>
    </a>
  </RowCard>

</div>
</template>
<script>
import RowCard from '@/components/lib/RowCard.vue'
import ArtyLink from '@/components/lib/ArtyLink.vue'
import IntrinsicValue from '@/components/lib/IntrinsicValue.vue'

export default {
  computed: {
    imageHeight() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return '220px'
        case 'sm':
          return '400px'
        case 'md':
          return '500px'
        case 'lg':
          return '500px'
        case 'xl':
          return '500px'
      }
    }
  },
  data() {
    return {
      macd: require('static/images/MACD.png'),
      macdChart: require('static/images/MACDChart.png'),
    }
  },
  mounted() {

  },
  methods: {

  },
  components: {
    RowCard,
    ArtyLink,
    IntrinsicValue
  }
}
</script>
