// Overriding variables here to help define the solarized light and dark theme.
// First should try to achieve this by defining light and dark theme colors in nuxt.config.js
// Then would try to override the values here in variables.scss.
// Then if necessary try defining global class styles in default.vue. (if necessary with !important)
// If absolutely necessary can define inline on individual components using constants from the solarized*.js files.

// Colors here should match /constants/solarized*.js
$code-padding: 0em;
$code-kbd-font-size: 100%;
$material-light: (
  cards: #fdf6e3,
  background: #fdf6e3,
  text: (
    primary: #657b83,
    secondary: #93a1a1,
  ),
  navigation-drawer: #eee8d5,
  table: (
    active: #eee8d5,
    hover: #eee8d5,
    group: #eee8d5
  ),
  app-bar: #eee8d5
);
$material-dark: (
  cards: #002b36,
  background: #002b36,
  text: (
    primary: #839496,
    secondary: #586e75,
  ),
  navigation-drawer: #073642,
  table: (
    active: #073642,
    hover: #073642,
    group: #073642
  ),
  app-bar: #073642
);
@import '~vuetify/src/styles/styles.sass';
