
<template>
<div>
  <RowCard title ="Flexible Pages">
    Pages under this folder will be in a variety of formats.
  </RowCard>
  <RowCard title="Most Recent Updates">
    <ul>
      <li>
        04/28/2021 - <nuxt-link append to="business/resources/personal/invest-decisions/2021/">Investment Decisions 2021</nuxt-link>
      </li>
      <li>
        11/22/2020 - <nuxt-link append to="business/resources/personal/invest-decisions/2020/">Investment Decisions 2020</nuxt-link>
      </li>
    </ul>
  </RowCard>
</div>
</template>
<script>

import RowCard from '@/components/lib/RowCard.vue'
import ArtyLink from '@/components/lib/ArtyLink.vue'

export default {
  computed: {},
  data() {
    return {
    }
  },
  mounted() {

  },
  methods: {

  },
  components: {
    RowCard,
    ArtyLink
  },
}
</script>
