<template>
<v-app>
  <v-overlay :value="this.isLoading" z-index="9999">
    <v-progress-circular
        indeterminate
        color="primary"
    ></v-progress-circular>
  </v-overlay>

  <v-navigation-drawer :mobile-breakpoint="800" class="drawer" ref="drawer" :width="width" v-model="drawer" :clipped="clipped" fixed app>

    <v-row>
      <v-col class="pl-6 pr-6">
        <v-text-field v-model="search" label="Search" flat hide-details clearable clear-icon="mdi-close-circle-outline"></v-text-field>
      </v-col>
    </v-row>

    <v-row no-gutters>
      <v-col class="pa-2" cols="6">
        <v-btn small block @click="width <= 1900 ? width+=100 : width=width">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-col>

      <v-col class="pa-2" cols="6">
        <v-btn small block @click="width >= 100 ? width-=100 : width=width">
          <v-icon>mdi-minus</v-icon>
        </v-btn>
      </v-col>

    </v-row>

    <v-row no-gutters>
      <v-col class="pa-2" cols="3">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-on="on" v-bind="attrs" small block @click="makeHomeRoot">
              <v-icon>mdi-folder-home</v-icon>
            </v-btn>
          </template>
          <span>make home root</span>
        </v-tooltip>
      </v-col>

      <v-col class="pa-2" cols="3">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-on="on" v-bind="attrs" small block @click="makeSelectedRoot">
              <v-icon>mdi-folder</v-icon>
            </v-btn>
          </template>
          <span>make selected root</span>
        </v-tooltip>
      </v-col>

      <v-col class="pa-2" cols="3">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-on="on" v-bind="attrs" small block @click="collapseMenu">
              <v-icon>mdi-arrow-collapse-vertical</v-icon>
            </v-btn>
          </template>
          <span>collapse all</span>
        </v-tooltip>
      </v-col>

      <v-col class="pa-2" cols="3">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-on="on" v-bind="attrs" small block @click="openToSelectedMenuItem">
                <v-icon>mdi-crosshairs</v-icon>
              </v-btn>
            </template>
            <span>open to selected</span>
          </v-tooltip>
      </v-col>

    </v-row>

    <v-treeview v-if="showTreeBugFix" :open.sync="open" class="body-1 menu-tree" ref="menuTree" shaped open-on-click
                dense hoverable :search="search" :items="menuItems" :filter="filter">

      <template v-slot:prepend="{ item }"/> <!-- for spacing -->
      <template v-slot:label="{ item }">
        <span v-if="item.isOutlineItem && !item.clickable" class="text-wrap">{{ item.name }}</span>
        <nuxt-link v-else @click.native="routeNativeClick" class="text-wrap" :to="item.fullPath">
          {{ item.name }}
        </nuxt-link>
      </template>

    </v-treeview>
  </v-navigation-drawer>

  <v-app-bar ref="appBar" :scroll-threshold="0" :clipped-left="clipped" fixed app :hide-on-scroll="!appBarFixed">
    <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
    <v-toolbar-title v-text="title" />
    <v-spacer />
    <div v-if="admin">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-on="on" v-bind="attrs" icon @click.stop="addDirectoryClicked()">
            <v-icon>mdi-folder</v-icon>
          </v-btn>
        </template>
        <span>add directory</span>
      </v-tooltip>
      <v-dialog v-model="addDirectoryDialog">
        <v-card>
          <v-card-title>
            Add Directory
            <v-spacer></v-spacer>
            <v-btn icon @click="addDirectoryDialog = false" elevation="1">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-card-title>

          <v-card-text>
            <v-row>
              <v-col md=12 lg=6>
                <v-autocomplete v-model="addDirectoryParentDirectory"
                          :items="directoryItems"
                          label="Parent Directory"
                ></v-autocomplete>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols=12 xs=12 lg=6>
                <v-text-field v-model=addDirectoryName label="Name"></v-text-field>
              </v-col>
              <v-col cols=12 xs=12 lg=6>
                <v-text-field v-model=addDirectoryPathSegment label="Path Segment"></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                @click="addDirectory">
              Add
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
    <div v-if="admin">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-on="on" v-bind="attrs" icon @click.stop="addPageClicked()">
            <v-icon>mdi-file-document</v-icon>
          </v-btn>
        </template>
        <span>add page</span>
      </v-tooltip>
      <v-dialog v-model="addPageDialog">
        <v-card>
          <v-card-title>
            Add Page
            <v-spacer></v-spacer>
            <v-btn icon @click="addPageDialog = false" elevation="1">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-card-title>

          <v-card-text>
            <v-row>
              <v-col md=12 lg=6>
                <v-autocomplete v-model="addPageDirectory"
                          :items="directoryItems"
                          label="Parent Directory"
                ></v-autocomplete>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols=12 xs=12 lg=6>
                <v-text-field v-model=addPageTitle label="Title"></v-text-field>
              </v-col>
              <v-col cols=12 xs=12 lg=6>
                <v-text-field v-model=addPagePathSegment label="Path Segment"></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                @click="addPage">
              Add
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>

    <div v-if="!loggedIn">
      <a :href="$authApi.continueLoginUrl($route.path, $route.hash)">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-on="on" v-bind="attrs">
              <v-icon>mdi-login</v-icon>
            </v-btn>
          </template>
          <span>login</span>
        </v-tooltip>
      </a>
    </div>
    <div v-else>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-on="on" v-bind="attrs" @click="logout">
            <v-icon>mdi-logout</v-icon>
          </v-btn>
        </template>
        <span>logout</span>
      </v-tooltip>
    </div>
    <v-btn icon @click="toggleTheme">
      <v-icon>mdi-theme-light-dark</v-icon>
    </v-btn>
    <v-btn icon @click="appBarLockClick">
      <v-icon v-if="appBarFixed">mdi-lock</v-icon>
      <v-icon v-else>mdi-lock-open</v-icon>
    </v-btn>
  </v-app-bar>
  <v-main>
    <v-container :fluid="true">
      <v-alert v-for="(value, key) in $store.state.alerts.alertPayloads" :key=key transition="fade-transition" dismissible dense text :type="value.type">
        {{ value.message }}
        <template v-slot:close="{ toggle }">
          <v-btn icon @click="$store.commit('dismissAlert', { key: key })">
            <v-icon :color="value.type">
              mdi-close-circle
            </v-icon>
          </v-btn>
        </template>
      </v-alert>
      <v-snackbar bottom left :timeout="$store.state.alerts.snackbarPayload.timeout" v-model="snackbarShow" text :color="$store.state.alerts.snackbarPayload.color">
        {{ $store.state.alerts.snackbarPayload.message }}
        <template v-slot:action="{ attrs }">
          <v-btn icon elevation="1" @click="snackbarShow = false">
            <v-icon :color="$store.state.alerts.snackbarPayload.color">
              mdi-close-circle
            </v-icon>
          </v-btn>
        </template>
      </v-snackbar>

      <nuxt />

      <v-dialog v-model="confirmDialog">
        <v-card>
          <v-card-title>
            {{ confirmTitle }}
            <v-spacer></v-spacer>
            <v-btn icon @click.stop="$store.commit('confirmation/hide')" elevation="1">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-card-title>

          <v-card-text>
            <v-row>
              <v-col>
                {{ confirmMessage }}
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="cancelAction()">
              {{ cancelButton }}
            </v-btn>
            <v-btn @click="confirmAction()">
              {{ confirmButton }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="alertDialog">
        <v-card>
          <v-card-title>
            {{ alertDialogTitle }}
            <v-spacer></v-spacer>
            <v-btn icon @click.stop="$store.commit('alertDialog/hide')" elevation="1">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-card-title>

          <v-card-text>
            <v-row>
              <v-col>
                {{ alertDialogMessage }}
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="$store.commit('alertDialog/hide')">
              {{ alertDialogButton }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

    </v-container>
  </v-main>
  <v-footer :fixed="fixed" :app="app">
    <v-col class="text-center" cols="10">&copy 2020-{{ new Date().getFullYear()  }},
      <strong>Erik Artymiuk</strong>
    </v-col>
    <v-col cols="2" class="text-right">
      <v-btn icon @click.stop="footerLockClick">
        <v-icon v-if="fixed">mdi-lock</v-icon>
        <v-icon v-else>mdi-lock-open</v-icon>

      </v-btn>
    </v-col>
  </v-footer>

</v-app>
</template>

<script>
import {mapGetters, mapState} from 'vuex'

export default {
  data() {
    return {
      snackbarShow: false,

      width: 400,
      search: null,
      clipped: false,
      drawer: false,
      fixed: false,
      app: false,
      title: "earty",
      appBarFixed: false,
      menuItems: [],
      open: [],
      showTreeBugFix: true,

      addPageDialog: false,
      addPageDirectory: undefined,
      addPageTitle: "",
      addPagePathSegment: "",

      addDirectoryDialog: false,
      addDirectoryParentDirectory: undefined,
      addDirectoryName: "",
      addDirectoryPathSegment: "",

      focusMenu: false,
    }
  },
  computed: {
    ...mapState('loading', [
      'isLoading'
    ]),
    ...mapState('confirmation', {
      confirmTitle: state => state.title,
      confirmButton: state => state.button,
      confirmMessage: state => state.message,
      confirmAction: state => state.action,
      cancelButton: state => state.cancelButton,
      cancelAction: state => state.cancelAction
    }),
    ...mapState('alertDialog', {
      alertDialogTitle: state => state.title,
      alertDialogButton: state => state.button,
      alertDialogMessage: state => state.message,
      alertDialogAction: state => state.action,
    }),
    ...mapGetters('alerts', [
      'hasNextSnackbarMessage'
    ]),
    ...mapGetters('user', [
      'loggedIn',
      'admin'
    ]),
    ...mapGetters('page', {
      pageTreeMenuItem: 'treeMenuItem',
      pageTreeMenuItemsMap: 'treeMenuItemsMap'
    }),
    ...mapGetters('page', [
      'pageLoaded',
    ]),
    ...mapGetters('menu', [
      'homeTreeMenuItem',
      'treeMenuItemsMap',
      'dynamicMenuLoaded',
      'menuItemsMap',
      'dynamicMenuItemMap',
      'pageParentMap'
    ]),
    filter() {
      return (item, search, textKey) => {
        let matchesSearch = item[textKey].toLowerCase().indexOf(search.toLowerCase()) > -1
        return matchesSearch
      }
    },
    directoryItems() {
      let directoryItems = []

      for (let [key, value] of Object.entries(this.dynamicMenuItemMap)) {
        if (value.isDirectory) {
          directoryItems.push({text: key, value: value.directoryId})
        }
      }
      return directoryItems
    },
    rootTreeMenuItem() {
      return this.menuItems[0]
    },
    fullPathKey() {
      return this.$normPath() + this.$route.hash
    },
    //NOTE EA 11/1/2021 - https://vuex.vuejs.org/guide/forms.html#two-way-computed-property
    confirmDialog: {
      get() {
        return this.$store.state.confirmation.dialog
      },
      set(value) {
        //NOTE EA 11/1/2021 - AFAIK there isn't a way for the model to be set to true unless our code does so
        //  There is however ways for the model variable to be set to false; such as an esc key press or clicking
        //  outside the modal. If somehow the model variable is set to true the dialog will display with the defaults
        value ? this.$store.commit('confirmation/show') : this.$store.commit('confirmation/hide')
      }
    },
    alertDialog: {
      get() {
        return this.$store.state.alertDialog.dialog
      },
      set(value) {
        //NOTE EA 11/1/2021 - AFAIK there isn't a way for the model to be set to true unless our code does so
        //  There is however ways for the model variable to be set to false; such as an esc key press or clicking
        //  outside the modal. If somehow the model variable is set to true the dialog will display with the defaults
        value ? this.$store.commit('alertDialog/show') : this.$store.commit('alertDialog/hide')
      }
    }
  },
  watch: {
    search(newValue) {
      if (newValue && newValue !== "") {
        this.$refs.menuTree.updateAll(true)
      } else {
        this.openToSelectedMenuItem()
      }
    },
    homeTreeMenuItem(newValue) {
      let currentRootMenuItemKey = this.menuItems[0].id
      this.menuItems = [newValue]
      //this.makeSelectedRoot()
      this.selectRootWithKey(currentRootMenuItemKey)
    },
    $route(current, previous) {
      if (this.$normPathHelper(current.path) !== this.$normPathHelper(previous.path)) {
        this.$store.commit('page/clear')

        if (this.menuItemsMap[this.$normPath()] &&
            this.menuItemsMap[this.$normPath()].isPage &&
            this.menuItemsMap[this.$normPath()].isStatic) {
            let menuItem = this.menuItemsMap[this.$normPath()]
            this.$store.commit('page/selectStatic', { path: this.$normPath(), name: menuItem.name, pageId: menuItem.pageId })
        }
      }
    },
    admin(current, previous) {
      if (this.menuItemsMap[this.$normPath()] &&
          this.menuItemsMap[this.$normPath()].isDynamic &&
          this.menuItemsMap[this.$normPath()].isPage) {
        this.$store.commit('page/clear')
      }
    },
    pageTreeMenuItem(current, previous) {
      //if the current page is focused on (i.e. its outline items are displaying in the menu)
      if (current && current.fullPath === this.rootTreeMenuItem.id) {
        this.menuItems = [current]
        this.remountTreeOpenItemsBugFix()
      }
    },
    snackbarShow(current, previous) {

      if (!current && this.hasNextSnackbarMessage) {
        this.$nextTick(() => {
          this.$store.commit('alerts/dequeueMessage')
          this.snackbarShow = true
        })
      }
    },
    hasNextSnackbarMessage(current, previous) {
      if (!this.snackbarShow && current) {
        this.$nextTick(() => {
          this.$store.commit('alerts/dequeueMessage')
          this.snackbarShow = true
        })
      }
    }
  },
  mounted() {
    this.updateThemeColors()
    this.$store.dispatch('user/refreshUserDetails')
    this.$store.dispatch('menu/refreshApiDynamicMenu')
    this.menuItems = [this.homeTreeMenuItem]
    if (this.menuItemsMap[this.$normPath()] &&
        this.menuItemsMap[this.$normPath()].isStatic &&
        this.menuItemsMap[this.$normPath()].isPage) {
      let menuItem = this.menuItemsMap[this.$normPath()]
      this.$store.commit('page/selectStatic', { path: this.$normPath(), name: menuItem.name, pageId: menuItem.pageId })
    }
    this.$store.commit('confirmation/setDefaultActions', {
      action: () => this.$store.commit('confirmation/hide'),
      cancelAction: () => this.$store.commit('confirmation/hide')
    })
  },
  methods: {
    addPageClicked() {
      let currMenuItem = this.menuItemsMap[this.$normPath()]
      this.addPageDirectory = currMenuItem.isDirectory ? currMenuItem.directoryId : this.pageParentMap[currMenuItem.pageId]
      this.addPageDialog = true
    },
    addDirectoryClicked() {
      let currMenuItem = this.menuItemsMap[this.$normPath()]
      this.addDirectoryParentDirectory = currMenuItem.isDirectory ? currMenuItem.directoryId : this.pageParentMap[currMenuItem.pageId]
      this.addDirectoryDialog = true
    },
    makeHomeRoot() {
      if (this.menuItems[0].id !== '/') {
        this.menuItems = [this.homeTreeMenuItem]
        this.openToSelectedMenuItem()
      }
    },
    selectRootWithKey(key) {
      if (this.menuItems[0].id !== key && this.menuItemsMap[key]) {
        if (this.pageLoaded && this.pageTreeMenuItem.id === key) {
          this.menuItems = [this.pageTreeMenuItem]
        }
        else {
          this.menuItems = [this.treeMenuItemsMap.get(key)]
        }

        this.remountTreeOpenItemsBugFix()
      }
    },
    openToSelectedMenuItem() {
      let tempOpen = []

      if (this.treeMenuItemsMap.has(this.$normPath())) {
        let menuItemParentPaths = this.treeMenuItemsMap.get(this.$normPath()).parentPaths
        for (let i = 0; i < menuItemParentPaths.length; i++) {
          if (menuItemParentPaths[i].includes(this.menuItems[0].id)) {
            tempOpen.push(menuItemParentPaths[i])
          }
        }

        if (this.pageTreeMenuItemsMap[this.fullPathKey]) {
          tempOpen = tempOpen.concat(this.pageTreeMenuItemsMap[this.fullPathKey].parentPaths)
        }

        this.open = tempOpen
        this.remountTreeOpenItemsBugFix()
      }
    },
    collapseMenu() {
      //this.open = []
      this.$refs.menuTree.updateAll(false)
      this.remountTreeOpenItemsBugFix()
    },
    remountTreeOpenItemsBugFix() {
      this.showTreeBugFix = false
      this.$nextTick(() => {
        this.showTreeBugFix = true
      })
    },
    makeSelectedRoot() {
      //TODO EA 1/4/2022 - Potential bug associated with this. If the dyanmic menu isn't loaded then the
      //  menuItemsMap will not contain the root dynamic directory and so cannot be selected as root.
      //  This is in opposition to the treeMenuItemsMap which does contain the dynamic root directory
      //  event before the dynamic directory is loaded.
      if (this.menuItems[0].id !== this.$normPath() && this.menuItemsMap[this.$normPath()]) {
        if (this.pageLoaded) {
          this.menuItems = [this.pageTreeMenuItem]
        }
        else {
          this.menuItems = [this.treeMenuItemsMap.get(this.$normPath())]
        }

        this.remountTreeOpenItemsBugFix()
      }
    },

    footerLockClick() {
      this.fixed = !this.fixed
      this.app = !this.app
    },
    appBarLockClick() {
      this.appBarFixed = !this.appBarFixed
    },
    toggleTheme() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark
      this.updateThemeColors()
    },
    updateThemeColors() {

      let solarizedTheme;
      let oppositeSolarizedTheme;

      if (this.$vuetify.theme.dark) {
        solarizedTheme = this.$solarizedDark
        oppositeSolarizedTheme = this.$solarizedLight
      }
      else {
        solarizedTheme = this.$solarizedLight
        oppositeSolarizedTheme = this.$solarizedDark
      }

      document.documentElement.style.setProperty("--selection-background-color", oppositeSolarizedTheme.BACKGROUND);
      document.documentElement.style.setProperty("--v-icon-color", solarizedTheme.PRIMARY_CONTENT);
      document.documentElement.style.setProperty("--nuxt-link-exact-active-color", this.$solarized.RED);
      document.documentElement.style.setProperty("--nuxt-link-active-color", this.$solarized.VIOLET);
      document.documentElement.style.setProperty("--pre-code-background-color", solarizedTheme.BACKGROUND_HIGHLIGHT);
    },
    routeNativeClick(event) {
      event.stopPropagation()
      if (this.$route.hash && this.$route.hash !== "") {
        window.location.hash = this.$route.hash
        let element = document.getElementById(
          this.$route.hash.substring(1))
        if (element) {
          element.scrollIntoView()
        }
      } else {
        window.scrollTo(0, 0)
      }
    },
    async addDirectory() {
      let addDirectoryCommand = {
        siteMenuId: "earty-info",
        name: this.addDirectoryName,
        parentDirectoryId: this.addDirectoryParentDirectory,
        pathSegment: this.addDirectoryPathSegment
      }

      this.$store.commit('loading/on')
      await this.$siteMenuCommandApi.addDirectory(addDirectoryCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', { message: addDirectoryCommand.name + " added" } )
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', { message: this.$apiErrorMessage(error) } )
          })
          .finally(() => {
            this.resetAddDirectoryDialog()
            this.$store.commit('loading/off')
            this.$store.dispatch('menu/refreshApiDynamicMenu')
          })
    },
    resetAddDirectoryDialog() {
      this.addDirectoryDialog = false
      this.addDirectoryName = ""
      this.addDirectoryParentDirectory = ""
      this.addDirectoryPathSegment = undefined
    },
    async addPage() {
      let addPageCommand = {
        siteMenuId: "earty-info",
        title: this.addPageTitle,
        parentDirectoryId: this.addPageDirectory,
        pathSegment: this.addPagePathSegment
      }

      this.$store.commit('loading/on')
      await this.$siteMenuCommandApi.addPage(addPageCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', { message: addPageCommand.title + " added" } )
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', { message: this.$apiErrorMessage(error) } )
          })
          .finally(() => {
            this.resetAddPageDialog()
            this.$store.commit('loading/off')
            this.$store.dispatch('menu/refreshApiDynamicMenu')
          })
    },
    resetAddPageDialog() {
      this.addPageDialog = false
      this.addPageTitle = ""
      this.addPagePathSegment = ""
      this.addPageDirectory = undefined
    },
    async logout() {
      await this.$authApi.logout().then(() => this.$store.dispatch('user/refreshUserDetails'))
    },
  },
}
</script>
<style>
/* Change Selection Text Color When Highlighting */
:root {

}
::selection {
    background-color: var(--selection-background-color) !important;
}
::-moz-selection {
    background-color: var(--selection-background-color) !important;
}

.menu-tree {
  overflow: auto;
}

.drawer {
  overflow: auto;
}

.nuxt-link-active {
  color: var(--nuxt-link-active-color) !important;
}

.nuxt-link-exact-active {
  color: var(--nuxt-link-exact-active-color) !important;
}

.v-icon {
  color: var(--v-icon-color) !important;
}

pre {
  overflow-x: auto !important;
  background-color: var(--pre-code-background-color) !important;
  font-size: 0.85em !important;
}
code {
  background-color: var(--pre-code-background-color) !important;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}

/* NOTE EA 2022-05-23 for some reason vuetify's blockquote styling isn't applying unless explicitly set */
blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  text-decoration: underline;
}
h1 {
  font-size: 1.67rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.33rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.75rem;
}
</style>
