<template>
<div>
  <v-row>
    <v-col>
      <v-card class="mx-auto">
        <v-card-title>Biotech Companies</v-card-title>
        <v-card-text>
          <ul>
            <li>
              One potential area I think might be big (bigger) in the future is healthcare and companies that profit from extending life and caring for elderly people. I need to dig deeper into this however and this is still really only a 'thought'.
            </li>
            <li>
              I talked with someone who works in the healthcare industry at a big company. They shared with me some of the companies they have worked with and companies they felt worth mentioning when I was asking about biotech companies he felt were
              worth watching.
            </li>
            <v-data-table :headers="headers" :items="items" show-expand item-key="name" :hide-default-footer="true">
              <template v-slot:item.website="{ item }">
                <a target="_blank" :href="item.website">{{item.website}}</a>
              </template>
              <template v-slot:item.stockSymbol="{ item }">
                <a target="_blank" :href="item.stockLink">{{item.stockSymbol}}</a>
              </template>
              <template v-slot:item.secForm="{ item }">
                <a target="_blank" :href="item.secLink">{{item.secText}}</a>
              </template>
              <template v-slot:expanded-item="{ item, headers }">
                <td :colspan="headers.length">{{ item.notes }}</td>
              </template>
            </v-data-table>
          </ul>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</div>
</template>
<script>
export default {
  data() {
    return {
      headers: [{
          text: 'Name',
          value: 'name'
        },
        {
          text: 'Website',
          value: 'website'
        },
        {
          text: 'Stock',
          value: 'stockSymbol'
        },
        {
          text: 'SEC 10-K',
          value: 'secForm'
        }
      ],
      items: [{
          name: "Danaher",
          website: "https://www.danaher.com/",
          stockSymbol: "DHR",
          stockLink: "https://finance.yahoo.com/quote/DHR?p=DHR&.tsrc=fin-srch",
          notes: "Aquired IDT. Integrated DNA Technologies, based in Iowa. Healthcare company they work for buys molecular products from them.",
          secLink: "https://www.sec.gov/Archives/edgar/data/313616/000031361619000035/dhr-20181231x10xk.htm",
          secText: "2018"
        },
        {
          name: "Illumina",
          website: "https://www.illumina.com/",
          stockSymbol: "ILMN",
          stockLink: "https://finance.yahoo.com/quote/ILMN?p=ILMN&.tsrc=fin-srch",
          notes: "Leader in next generation sequencers, instrumentation that is used for next big thing in molecular diagnostics. Instruments bought from them are very expensive (~ 1 million usd). They have to keep buying reagents to use in the machines. Flow cell is an example (reagent they buy repeatedly?). Cost a lot. Examples of the machine names are MiSeq, HiSeq, NovaSeq.",
          secLink: "https://www.sec.gov/Archives/edgar/data/1110803/000111080319000013/fy2018form10-k.htm",
          secText: "2018"
        },
        {
          name: "Roche",
          website: "https://www.roche.com/",
          stockSymbol: "RHHBY",
          stockLink: "https://finance.yahoo.com/quote/RHHBY?p=RHHBY&.tsrc=fin-srch",
          notes: "Roche is huge."
        },
        {
          name: "Agilent",
          website: "https://www.agilent.com/",
          stockSymbol: "A",
          stockLink: "https://finance.yahoo.com/quote/A?p=A&.tsrc=fin-srch",
          notes: "",
          secLink: "https://www.sec.gov/Archives/edgar/data/1090872/000109087218000019/a-10312018x10k.htm",
          secText: "2018"
        },
        {
          name: "ThermoFisher",
          website: "https://www.thermofisher.com/us/en/home.html",
          stockSymbol: "TMO",
          stockLink: "https://finance.yahoo.com/quote/TMO?p=TMO&.tsrc=fin-srch",
          notes: "Been around forever. Applied Biosystems is part of ThermoFisher.",
          secLink: "https://www.sec.gov/Archives/edgar/data/97745/000009774519000007/a201810k.htm",
          secText: "2018"
        },
        {
          name: "BioRad",
          website: "https://www.bio-rad.com/",
          stockSymbol: "BIO",
          stockLink: "https://finance.yahoo.com/quote/BIO?p=BIO&.tsrc=fin-srch",
          notes: "Big in digital droplet PCR (???)",
          secLink: "https://www.sec.gov/ix?doc=/Archives/edgar/data/12208/000001220819000014/a10k123118.htm",
          secText: "2018"
        },
      ],
    }
  },
}
</script>
