
<template>
  <div>
    <RowCard title ="Home">
      This is a personal website I put together to log/organize some thoughts/content
      for various personal projects/endeavours.
    </RowCard>
  </div>
</template>
<script>

import RowCard from '@/components/lib/RowCard.vue'
import ArtyLink from '@/components/lib/ArtyLink.vue'

export default {
  computed: {},
  data() {
    return {
    }
  },
  mounted() {

  },
  methods: {

  },
  components: {
    RowCard,
    ArtyLink
  }
}
</script>
