<template>
<div>
  <RowCard title="Initial Evaluation - 03/02/2021">

  </RowCard>
  <RowCard title="Overview">

    <ul>
      <li>
        Original Planned Start: 02/15/2021
      </li>
    </ul>
  </RowCard>

  <RowCard title="Notes">

    <v-row>
      <v-col>
        This initial evaluation was focused almost exclusively on Apple. I also took time updating Alphabet's financials getting them up to date with the latest data.
        <ul>
          <li>
            Apple - With Apple I found that I like the company and would gladly invest in it at the right price. At the current price point (~$134), however, I believe the stock to be overvalued perhaps significantly so. My valuation puts it at closer to the $100 mark. For this reason I am ok holding what I already own or even selling it if I see another investment opportunity I wish to take advantage of. I am more likely to hold it as I am excited about Apple, their products, their people, their values.
            <ul>
              <li>
                <ArtyLink url="/evaluations/apple/03022021/IndividualAnalysisForm.odt">IndividualAnalysisForm.odt</ArtyLink>, <ArtyLink url="/evaluations/apple/03022021/03022021.zip">03022021.zip</ArtyLink>
              </li>
            </ul>
          </li>
          <li>
            Alphabet - With Alphabet I really only updated the valuation. I came up with a valuation range of $1786.75-$2145.27
            <ul>
              <li>
                <ArtyLink url="/evaluations/google/03022021/Value.zip">Value.zip</ArtyLink>
              </li>
            </ul>
          </li>
          <li>
            Common data used for the above valuations - <ArtyLink url="/evaluations/apple/03022021/CommonData.ods">CommonData.ods</ArtyLink>
          </li>
        </ul>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        I should add I also am a bit interested in SNOWFLAKE and looked a bit into it during this initial evaluation. Initial interest came because Berkshire invested in it for its IPO which is unusual because its a tech stock and because Berkshire doesn't usually invest for an IPO.
      </v-col>
    </v-row>


  </RowCard>

  <RowCard title="Berkshire Portfolio">
    <v-row>
      <ul>
        <li>
          Source: <ArtyLink url="https://www.cnbc.com/berkshire-hathaway-portfolio/"></ArtyLink>
        </li>
      </ul>
    </v-row>
    <v-row>
      <v-col v-if="$vuetify.breakpoint.name == 'xs'" cols="6" sm="4" md="2">
        <v-checkbox v-model="berkshireMobileTable" label="Mobile Table"></v-checkbox>
      </v-col>
    </v-row>
    <v-row>
      <v-data-table dense :mobile-breakpoint="berkshireMobileTableBreakpoint" :headers="berkshireHeaders" :items="berkshireItems" hide-default-footer disable-pagination class="elevation-1">
        <template v-slot:item.shares="{ item }">
          {{ item.shares }}
        </template>
        <template v-slot:item.price="{ item }">
          {{ item.price }}
        </template>
        <template v-slot:item.value="{ item }">
          {{ $currencyFormat(item.value) }}
        </template>
        <template v-slot:item.percentage="{ item }">
          {{ parseFloat(item.percentage * 100).toFixed(2) + '%' }}
        </template>
      </v-data-table>
    </v-row>
  </RowCard>
  <RowCard title="Cannabis Stocks">
    <v-row>
      <v-col v-if="$vuetify.breakpoint.name == 'xs'" cols="6" sm="4" md="2">
        <v-checkbox v-model="cannabisMobileTable" label="Mobile Table"></v-checkbox>
      </v-col>
    </v-row>
    <v-row>
    <v-data-table dense show-expand item-key="name" :mobile-breakpoint="cannibisTableMobileBreakpoint" :headers="cannabisHeaders" :items="cannabisItems" hide-default-footer disable-pagination class="elevation-1">
      <template v-slot:item.cap="{ item }">
        {{ $formatBigNumber(item.cap) }}
      </template>
      <template v-slot:item.priceSales="{ item }">
        {{ $currencyFormat(item.priceSales) }}
      </template>
      <template v-slot:item.revenue="{ item }">
        {{ $formatBigNumber(item.revenue) }}
      </template>
      <template v-slot:item.incomeLoss="{ item }">
        {{ $formatBigNumber(item.incomeLoss) }}
      </template>
      <template v-slot:expanded-item="{ item, headers }">
        <td :colspan="headers.length">{{ item.notes }}</td>
      </template>
    </v-data-table>
  </v-row>
  </RowCard>

</div>
</template>
<script>
import RowCard from '@/components/lib/RowCard.vue'
import ArtyLink from '@/components/lib/ArtyLink.vue'

import EvalConstants1 from '@/constants/evaluations/evaluations1'
import EvalConstants2 from '@/constants/evaluations/evaluations2'
import EvalConstants from '@/constants/evaluations/evaluations'

export default {
  computed: {
    cannibisTableMobileBreakpoint() {
      if (this.mobileTable) {
        return this.$vuetify.breakpoint.thresholds.xs
      } else {
        return 0
      }
    },
    berkshireMobileTableBreakpoint() {
      if (this.berkshireMobileTable) {
        return this.$vuetify.breakpoint.thresholds.xs
      } else {
        return 0
      }
    },
    berkshireHeaders() {
      return EvalConstants.BERKSHIRE_TABLE_HEADERS;
    },
    berkshireItems() {
      return this.$addValuePercent(EvalConstants2.BERKSHIRE_TABLE_ITEMS);
    },
    cannabisHeaders() {
      return EvalConstants.CANNABIS_TABLE_HEADERS;
    },
    cannabisItems() {
      return EvalConstants2.CANNABIS_TABLE_ITEMS;
    },
  },
  data() {
    return {
      berkshireMobileTable: false,
      cannabisMobileTable: false,
    }
  },
  mounted() {

  },
  methods: {

  },
  components: {
    RowCard,
    ArtyLink
  }
}
</script>
