<template>
  <div>
    <v-row>
      <v-col>
        <v-card>
          <v-card-title>
            <v-row>
              <v-col>
                {{ title }}
              </v-col>
            </v-row>
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn v-on="on" v-bind="attrs" small @click="moveDirectoryUp">
                      <v-icon>mdi-arrow-up</v-icon>
                    </v-btn>
                  </template>
                  <span>up</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn  v-on="on" v-bind="attrs" small @click="moveDirectoryDown">
                      <v-icon>mdi-arrow-down</v-icon>
                    </v-btn>
                  </template>
                  <span>down</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn  v-on="on" v-bind="attrs" small @click.stop="editDirectoryDialog=true">
                      <v-icon>mdi-folder-edit</v-icon>
                    </v-btn>
                  </template>
                  <span>edit</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn v-on="on" v-bind="attrs" small @click.stop="moveDirectoryDialog=true">
                      <v-icon>mdi-folder-swap</v-icon>
                    </v-btn>
                  </template>
                  <span>move</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn v-on="on" v-bind="attrs" small @click.stop="$store.commit('confirmation/show',
                  {   title: 'Delete Directory: ' + menuItemsMap[$normPath()].name + '?',
                              button: 'Delete',
                              message: 'Are you sure you want to delete the \'' + menuItemsMap[$normPath()].name + '\' directory?',
                              action: deleteDirectory })">
                      <v-icon color="error">mdi-delete-forever</v-icon>
                    </v-btn>
                  </template>
                  <span>delete</span>
                </v-tooltip>
              </v-col>
            </v-row>
          </v-card-text>
          <v-dialog v-model="editDirectoryDialog">
              <v-card>
                <v-card-title>
                  Edit Directory
                  <v-spacer></v-spacer>
                  <v-btn icon @click="editDirectoryDialog = false" elevation="1">
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                </v-card-title>
                <v-card-text>
                  <v-row>
                    <v-col cols=12 xs=12 lg=6>
                      <v-text-field v-model=editDirectoryName label="Name"></v-text-field>
                    </v-col>
                    <v-col cols=12 xs=12 lg=6>
                      <v-text-field v-model=editDirectoryPathSegment label="Path Segment"></v-text-field>
                    </v-col>
                  </v-row>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn @click="editDirectory">
                    Edit
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          <v-dialog v-model="moveDirectoryDialog">
              <v-card>
                <v-card-title>
                  Move Directory
                  <v-spacer></v-spacer>
                  <v-btn icon @click="moveDirectoryDialog = false" elevation="1">
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                </v-card-title>

                <v-card-text>
                  <v-row>
                    <v-col md=12 lg=6>
                      <v-select v-model="moveDirectoryParentDirectory"
                                :items="parentDirectoryItems"
                                label="Parent Directory"
                      ></v-select>
                    </v-col>
                  </v-row>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn @click="moveDirectory">
                    Move
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
        </v-card>
      </v-col>
    </v-row>
    <RowCard title="">
      <v-treeview class="body-1" shaped open-on-click dense hoverable :items="menuItems">
        <template v-slot:prepend="{ item }"/> <!-- for spacing -->
        <template v-slot:label="{ item }">
          <nuxt-link class="text-wrap" :to="item.fullPath">
            {{ item.name }}
          </nuxt-link>
        </template>
      </v-treeview>
    </RowCard>
  </div>
</template>

<script>
import {mapGetters, mapState} from "vuex";
import RowCard from "@/components/lib/RowCard";

export default {
  name: "AdminDirectory",
  components: {
    RowCard,
  },
  data() {
    return {
      editDirectoryDialog: false,
      editDirectoryName: "",
      editDirectoryPathSegment: "",

      moveDirectoryDialog: false,
      moveDirectoryParentDirectory: undefined,

      menuItems: [],
    }
  },
  computed: {
    ...mapState('menu', [
      'apiMenu'
    ]),
    ...mapGetters('menu', [
      'treeMenuItemsMap',
      'menuItemsMap',
      'directoryParentMap',
      'dynamicMenuItemMap'
    ]),
    title() {
      return this.menuItemsMap[this.$normPath()].name
    },
    parentDirectoryItems() {
      let parentDirectoryItems = []

      for (let [key, value] of Object.entries(this.dynamicMenuItemMap)) {
        if (value.isDirectory) {
          if (this.menuItemsMap[this.$normPath()].directoryId !== value.directoryId) {
            parentDirectoryItems.push({text: key, value: value.directoryId})
          }
        }
      }
      return parentDirectoryItems
    },
    menuItemString() {
      return this.menuItemsMap[this.$normPath()].name + " (" + this.menuItemsMap[this.$normPath()].id + ")"
    }
  },
  watch: {
    treeMenuItemsMap(current, previous) {
      this.menuItems = this.treeMenuItemsMap.has(this.$normPath()) ? [this.treeMenuItemsMap.get(this.$normPath())] : []
    }
  },
  mounted() {
    this.menuItems = this.treeMenuItemsMap.has(this.$normPath()) ? [this.treeMenuItemsMap.get(this.$normPath())] : []
    this.editDirectoryName = this.menuItemsMap[this.$normPath()].name
    this.editDirectoryPathSegment = this.menuItemsMap[this.$normPath()].pathSegment
  },
  methods: {
    async editDirectory() {
      let editDirectoryCommand = {
        siteMenuId: 'earty-info',
        directoryId: this.menuItemsMap[this.$normPath()].directoryId,
        name: this.editDirectoryName,
        pathSegment: this.editDirectoryPathSegment
      }

      this.$store.commit('loading/on')
      await this.$siteMenuCommandApi.editDirectory(editDirectoryCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', {message: "directory updated: " + editDirectoryCommand.name})
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
          })
          .finally(() => {
            this.editDirectoryDialog = false
            this.$store.commit('loading/off')
            this.$store.dispatch('menu/refreshApiDynamicMenu')
          })
    },
    async moveDirectoryUp() {
      let menuItem = this.menuItemsMap[this.$normPath()]
      let moveDirectoryUpCommand = {
        siteMenuId: 'earty-info',
        directoryId: menuItem.directoryId,
        parentDirectoryId: this.directoryParentMap[menuItem.directoryId]
      }

      this.$store.commit('loading/on')
      await this.$siteMenuCommandApi.moveDirectoryUp(moveDirectoryUpCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', {message: "directory moved up: " + this.menuItemString})
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
          })
          .finally(() => {
            this.$store.commit('loading/off')
            this.$store.dispatch('menu/refreshApiDynamicMenu')
          })
    },
    async moveDirectoryDown() {
      let menuItem = this.menuItemsMap[this.$normPath()]
      let moveDirectoryDownCommand = {
        siteMenuId: 'earty-info',
        directoryId: menuItem.directoryId,
        parentDirectoryId: this.directoryParentMap[menuItem.directoryId]
      }

      this.$store.commit('loading/on')
      await this.$siteMenuCommandApi.moveDirectoryDown(moveDirectoryDownCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', {message: "directory moved down: " + this.menuItemString})
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
          })
          .finally(() => {
            this.$store.commit('loading/off')
            this.$store.dispatch('menu/refreshApiDynamicMenu')
          })
    },
    async moveDirectory() {
      let moveDirectoryCommand = {
        siteMenuId: 'earty-info',
        directoryId: this.menuItemsMap[this.$normPath()].directoryId,
        parentDirectoryId: this.moveDirectoryParentDirectory
      }

      this.$store.commit('loading/on')
      await this.$siteMenuCommandApi.moveDirectory(moveDirectoryCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', {message: "directory updated: " + this.menuItemString})
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
          })
          .finally(() => {
            this.moveDirectoryDialog = false
            this.$store.commit('loading/off')
            this.$store.dispatch('menu/refreshApiDynamicMenu')
          })
    },
    async deleteDirectory() {
      let deleteDirectoryCommand = {
        siteMenuId: "earty-info",
        directoryId: this.menuItemsMap[this.$normPath()].directoryId
      }
      this.$store.commit('loading/on')
      await this.$siteMenuCommandApi.removeDirectory(deleteDirectoryCommand)
          .then(() => {
            this.$store.commit('alerts/enqueueSuccessToast', {message: this.menuItemString + " deleted"})
          })
          .catch(error => {
            this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)})
          })
          .finally(() => {
            this.$store.commit('confirmation/hide')
            this.$store.commit('loading/off')
            this.$store.dispatch('menu/refreshApiDynamicMenu')
          })
    },
  },
}
</script>

<style scoped>

</style>