<template>
  <div>
    <Draft v-if="this.admin"></Draft>
    <PublishedPage v-else></PublishedPage>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import Draft from "@/components/dynamic/draft/Page";
import PublishedPage from "@/components/dynamic/published/Page";

export default {
  name: 'DynamicPage',
  data() {
    return {
    }
  },
  computed: {
    ...mapGetters('user', [
      'admin'
    ]),
  },
  mounted() {

  },
  components: {
    Draft,
    PublishedPage,
  },
}
</script>

<style scoped>

</style>