<template>
  <div>
    <AdminDirectory v-if="this.admin"></AdminDirectory>
    <UserDirectory v-else></UserDirectory>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import AdminDirectory from "@/components/dynamic/AdminDirectory";
import UserDirectory from "@/components/dynamic/UserDirectory";

export default {
  name: "DynamicDirectory",
  components: {
    AdminDirectory,
    UserDirectory
  },
  computed: {
    ...mapGetters('user', [
      'admin'
    ]),
  }
}
</script>

<style scoped>

</style>