<template>
  <div>
    <v-row>
      <v-col>
        <v-card>
          <v-card-title>
            <v-row>
              <v-col>{{ title }}</v-col>
            </v-row>
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
    <RowCard title="">
      <v-treeview class="body-1" shaped open-on-click dense hoverable :items="menuItems">
        <template v-slot:prepend="{ item }"/> <!-- for spacing -->
        <template v-slot:label="{ item }">
          <nuxt-link class="text-wrap" :to="item.fullPath">
            {{ item.name }}
          </nuxt-link>
        </template>
      </v-treeview>
    </RowCard>
  </div>
</template>

<script>
import {mapGetters, mapState} from "vuex";
import RowCard from "@/components/lib/RowCard";

export default {
  name: "UserDirectory",
  components: {
    RowCard,
  },
  data() {
    return {
      menuItems: []
    }
  },
  computed: {
    ...mapGetters('menu', [
      'treeMenuItemsMap',
      'menuItemsMap'
    ]),
    title() {
      return this.menuItemsMap[this.$normPath()].name
    },
  },
  mounted() {
    this.menuItems = this.treeMenuItemsMap.has(this.$normPath()) ? [this.treeMenuItemsMap.get(this.$normPath())] : []
  },
  methods: {

  },
}
</script>

<style scoped>

</style>