<template>
  <v-row>
    <v-col>
      <v-row>
        <v-col>
          <div class="line-numbers copy-to-clipboard-button"
               ref="cardText"
               v-html="$dompurify.sanitize($marked(card.text))">
          </div>
        </v-col>
      </v-row>
      <v-row v-if="card.attachments.length > 0" no-gutters>
        <v-col>
          Attachments:
          <span v-for="(attachment, index) in card.attachments" :key="attachment.attachmentId">
            <a :href="'/api/attachment/query/published/' + attachment.attachmentId + '/' + attachment.filename + '?workingCardId=' + workingCardId" :download="attachment.filename">{{ attachment.filename }}</a>
            {{ index !== card.attachments.length - 1 ? '&nbsp;' : '' }}
          </span>
        </v-col>
      </v-row>
      <v-row v-if="card.images.length > 0" justify="center">
        <v-col xs="12" md="10" lg="8">
          <v-hover v-slot="{hover}">
            <div>
              <v-row>
                <v-col>
                  Image {{ carouselIndex + 1 }}
                </v-col>
              </v-row>
              <v-carousel :height="imageHeight" :continuous="false" delimiter-icon="mdi-checkbox-blank-circle-outline" hide-delimiter-background :show-arrows="hover" v-model="carouselIndex">
                <v-carousel-item v-for="image in card.images" :key="image.imageId" :eager="false">
                  <img :src="'/api/image/query/published/' + image.imageId + '?workingCardId=' + workingCardId" alt="">
                </v-carousel-item>
              </v-carousel>
            </div>
          </v-hover>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Card",
  data() {
    return {
      carouselIndex: 0
    }
  },
  computed: {
    imageHeight() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return '300px'
        case 'sm':
          return '400px'
        case 'md':
          return '500px'
        case 'lg':
          return '500px'
        case 'xl':
          return '500px'
      }
    }
  },
  watch: {
    //NOTE EA 2022-04-30 - Watching props to make the Card component truly reactive (i.e. the client updates workingCardId
    //  then the carouselIndex shouldn't remain what it was with the last card but should reset back to 0.)
    workingCardId(current, previous) {
      this.carouselIndex = 0;
    },
    card(current, previous) {
      this.carouselIndex = 0;
      this.$nextTick(() => {
        this.$prismjs.highlightAllUnder(this.$refs["cardText"])
      })
    }
  },
  props: {
    workingCardId: { String, optional: false },
    card: { Object, optional: false },
  },
  mounted() {
    this.$prismjs.highlightAllUnder(this.$refs["cardText"])
  }
}
</script>

<style scoped>

</style>