<template>
  <div>
    <v-row v-if="!this.pageLoaded && Object.keys(this.outstandingRequests).length > 0">
      <v-col>
        <v-card>
          <v-card-title>
            <v-row>
              <v-col>Page Loading...</v-col>
            </v-row>
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-else-if="!this.pageLoaded && Object.keys(this.outstandingRequests).length === 0">
      <v-col>
        <v-card>
          <v-card-title>
            <v-row>
              <v-col>Page Not Found</v-col>
            </v-row>
          </v-card-title>
          <v-card-text>
            Page may still be getting created; try refreshing or checking back again shortly
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <div v-else>
      <v-row>
        <v-col>
          <v-card>
            <v-card-title>
              <v-row>
                <v-col>
                  <nuxt-link :to="$normPath()">
                    <h2>{{ title }}</h2>
                  </nuxt-link>
                </v-col>
              </v-row>
            </v-card-title>
          </v-card>
        </v-col>
      </v-row>
      <v-row v-for="outlineItem in this.outlineItems" :key="outlineItem.workingCardId" :id="outlineItem.fragment">
        <v-col>
          <v-card>
            <v-card-title>
              <v-row>
                <v-col>
                  <nuxt-link v-if="outlineItem.fragment" :to="$normPath() + '#' + outlineItem.fragment">
                    <OutlineItemTitle :level="outlineItem.level"
                                      :hierarchy-number="outlineItem.hierarchyNumber"
                                      :display-item-number="apiPage.displayItemNumbers"
                                      :title="outlineItem.title">
                    </OutlineItemTitle>
                  </nuxt-link>
                  <span v-else>
                    <OutlineItemTitle :level="outlineItem.level"
                                      :hierarchy-number="outlineItem.hierarchyNumber"
                                      :display-item-number="apiPage.displayItemNumbers"
                                      :title="outlineItem.title">
                    </OutlineItemTitle>
                  </span>
                </v-col>
              </v-row>
            </v-card-title>
            <v-card-text>
              <template v-if="cards[outlineItem.workingCardId]">
                <Card :working-card-id=outlineItem.workingCardId :card="cards[outlineItem.workingCardId]"></Card>
              </template>
              <v-row v-else-if="!cardsLoaded">
                <v-col>
                  <v-textarea readonly dense :rows="1" auto-grow placeholder="loading...">
                  </v-textarea>
                </v-col>
              </v-row>
              <v-row v-else>
                <v-col>
                  <v-textarea readonly dense :rows="1" auto-grow placeholder="card content not found; try refreshing shortly">
                  </v-textarea>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapState} from "vuex";
import Card from "@/components/dynamic/published/Card";
import OutlineItemTitle from "@/components/lib/OutlineItemTitle.vue";

export default {
  name: "Page",
  components: {OutlineItemTitle, Card},
  data() {
    return {
      cards: {},
      cardsLoaded: false,
    }
  },
  props: {

  },
  computed: {
    ...mapState('page', [
      'apiPage',
      'outstandingRequests'
    ]),
    ...mapGetters('page', [
      'pageLoaded',
      'outlineItems'
    ]),
    ...mapGetters('menu', [
        'menuItemsMap'
    ]),
    title() {
      return this.menuItemsMap[this.$normPath()].name
    },
  },
  watch: {
    cardsLoaded(current, previous) {
      if (current && this.pageLoaded) {
        this.$nextTick(() => {
          this.scrollToHash()
        })
      }
    },
    pageLoaded(current, previous) {
      if (current && this.cardsLoaded) {
        this.$nextTick(() => {
          this.scrollToHash()
        })
      }
    }
  },
  mounted() {
    this.$store.dispatch('page/retrievePublished', { path: this.$normPath() })
    this.retrievePublishedCards()
  },
  methods: {
    scrollToHash() {
      if (this.$route.hash && this.$route.hash !== "") {
        let element = document.getElementById(
            this.$route.hash.substring(1))
        if (element) {
          element.scrollIntoView()
        }
      }
    },
    retrievePublishedCards() {
      this.$workingCardQueryApi.publishedCards(this.menuItemsMap[this.$normPath()].pageId).then((response) => {
        let temp = {}
        response.forEach(apiCard => {
          temp[apiCard.workingCardId] = {
            text: apiCard.text,
            images: apiCard.images,
            attachments: apiCard.attachments
          }})
        this.cards = temp
        this.cardsLoaded = true
      }).catch(error => {
        this.$store.commit('alerts/enqueueErrorToast', {message: this.$apiErrorMessage(error)}, {root: true})
      })
    },
  }
}
</script>

<style scoped>

</style>