<template>
<div>
  <RowCard title="Investment Decisions - 2021"></RowCard>
  <RowCard title="Apple ~04/27/2021">
    <ul>
      <li>
        04/27/20201 - I originally purchased apple because it was a large holding of Berkshire leading me to believe it had the qualities Buffet outlines as desirable for a long term investment and because the price had dropped significantly during the early stages of the pandemic leading me to believe the price was right. It wasn't until this latest iteration that I had the opportunity to really sit down and look more closely at Apple. After looking over it I can say I do really like the company and would purchase it at the right price point. Currently at a price around $134 / share I think it might be highly overvalued. This is a price point where if another investment opportunity came up and I needed funds I would sell my shares of Apple to take advantage because the market is paying so much for them. I am fine however simply holding my shares and collecting dividends as the market fluctuates as the company is working on things that I am interested in and the management and directors have great characteristics.
        <IntrinsicValue title="Personal Calculated" date="04/27/2021" lowRange="$82.87" highRange="$90.68"></IntrinsicValue>
        <IntrinsicValue title="Personal Calculated" date="04/30/2021" lowRange="95.80" highRange="$115.55"></IntrinsicValue>
        <IntrinsicValue title="Yahoo Finance (AAPL)" source="https://finance.yahoo.com/quote/AAPL" date="04/27/2021" lowRange="$83.00" highRange="175.00" singleValue="$152.06 (Average)"></IntrinsicValue>
        <IntrinsicValue title="https://simplywall.st (AAPL)" source="https://simplywall.st/stocks/us/tech/nasdaq-aapl/apple#valuation" date="04/27/2021" singleValue="$100.56"></IntrinsicValue>
        <IntrinsicValue title="https://www.macroaxis.com (AAPL)" source="https://www.macroaxis.com/invest/valuation/AAPL/Apple" date="04/27/2021" lowRange="$121.25" highRange="$141.99" singleValue="$141.99"></IntrinsicValue>
        <IntrinsicValue title="trefis valuation fidelity app" source="" date="04/27/2021" singleValue="$121.17"></IntrinsicValue>
      </li>
      <li>
        The price as of 04/27/2021 is
        <ul>
          <li>
            AAPL @ $134.72
          </li>
        </ul>
      </li>
    </ul>
  </RowCard>
  <RowCard title="Alphabet ~04/27/2021">
    <ul>
      <li>
        04/27/20201 - As part of my latest initial evaluation I took time to update Alphabet's valuation using the latest data. I don't believe anything significant has changed and still believe the company is a good long term investment. I would purchase it at the right price. I should note that my earlier valuation had a flaw in it that I've since corrected. This would have given Alphabet a higher valuation.
        <IntrinsicValue title="Personal Calculated" date="04/30/2021" lowRange="$1786.75" highRange="$2145.27"></IntrinsicValue>
        <IntrinsicValue title="Yahoo Finance (GOOGL)" source="https://finance.yahoo.com/quote/GOOGL" date="04/27/2021" lowRange="$1420" highRange="3000" singleValue="$2426.55 (Average)"></IntrinsicValue>
        <IntrinsicValue title="Yahoo Finance (GOOG)" source="https://finance.yahoo.com/quote/GOOG" date="04/27/2021" lowRange="$1420" highRange="2600" singleValue="$2330.45 (Average)"></IntrinsicValue>
        <IntrinsicValue title="https://simplywall.st (GOOGL)" source="https://simplywall.st/stocks/us/media/nasdaq-goog.l/alphabet#valuation" date="04/27/2021" singleValue="$3010.49"></IntrinsicValue>
        <IntrinsicValue title="https://simplywall.st (GOOG)" source="https://simplywall.st/stocks/us/media/nasdaq-goog/alphabet#valuation" date="04/27/2021" singleValue="$3032.27 (Average)"></IntrinsicValue>
        <IntrinsicValue title="https://www.macroaxis.com (GOOGL)" source="https://www.macroaxis.com/invest/valuation/GOOGL/Alphabet" date="04/27/2021" lowRange="$2079" highRange="$2430" singleValue="$2428"></IntrinsicValue>
        <IntrinsicValue title="https://www.macroaxis.com (GOOG)" source="https://www.macroaxis.com/valuation/GOOG/Alphabet-Cl-C" date="04/27/2021" lowRange="$1746" highRange="$2559" singleValue="$1747"></IntrinsicValue>
        <IntrinsicValue title="trefis valuation fidelity app" source="" date="04/27/2021" singleValue="$2159.56"></IntrinsicValue>
      </li>
      <li>
        The price as of 04/27/2021 is
        <ul>
          <li>
            GOOGL @ $2309.93
          </li>
          <li>
            GOOG @ $2326.74
          </li>
        </ul>
      </li>
    </ul>
  </RowCard>

</div>
</template>
<script>
import RowCard from '@/components/lib/RowCard.vue'
import ArtyLink from '@/components/lib/ArtyLink.vue'
import IntrinsicValue from '@/components/lib/IntrinsicValue.vue'

export default {
  computed: {
    imageHeight() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return '220px'
        case 'sm':
          return '400px'
        case 'md':
          return '500px'
        case 'lg':
          return '500px'
        case 'xl':
          return '500px'
      }
    }
  },
  data() {
    return {
    }
  },
  mounted() {

  },
  methods: {

  },
  components: {
    RowCard,
    ArtyLink,
    IntrinsicValue
  }
}
</script>
